{% load i18n static date %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <style>
        @page {
            size: letter landscape;
            margin: 2cm;
        }

        @font-face {
            font-family: Montserrat, Noto Sans JP, Noto Sans KR;
            src: url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+JP|Noto+Sans+KR&display=swap");
        }

        .seperate {
            page-break-after: always;
        }

        .seperate:last-child {
            page-break-after: auto;
        }
    </style>
    <title>{% trans '製造仕様書' %} | {{order.order_code}}</title>
</head>

{% for order_item in order.order_items.all %}

<body class="document seperate">
    <div class="w-90vw mx-auto">
        <div class="w-full flex items-center justify-start">
            <img src="{% static 'images/logo-universe.png' %}" class="inline-block w-16">
            <div class="font-bold text-3xl text-center tracking-widest">
                　{% trans '製造仕様書' %}
            </div>
        </div>
    </div>
    <p class="w-90vw mx-auto text-right">{% trans '発行日' %}：{% now "Y-m-d" %}</p>
    <div class="w-90vw mx-auto">
        <table class="w-full border-4">
            <tr>
                <th class="w-2/5 border text-lg text-center">{% trans '商品名' %}</th>
                <td class="border">{{ order_item.product.name }}</td>
            </tr>
            <tr>
                <th class="w-2/5 border text-lg text-center">{% trans 'カスタマイズデザインコード' %}</th>
                <td class="border">{{ order_item.customize_code }}</td>
            </tr>
            <tr>
                <th class="w-2/5 border text-lg text-center">{% trans '注文番号' %}</th>
                <td class="border">{{ order.order_code }}</td>
            </tr>
            <tr>
                <th class="w-2/5 border text-lg text-center">{% trans '注文日' %}</th>
                <td class="border">{{ order.order_date|date:'Y-m-d' }}</td>
            </tr>
            <tr>
                <th class="w-2/5 border text-lg text-center">{% trans '納期' %}</th>
                <td class="border">{% a_week_after "%Y-%m-%d" %} まで</td>
            </tr>
            <tr>
                <th class="w-2/5 border text-lg text-center">{% trans '数量' %}</th>
                <td class="border">{{ order_item.quantity }}</td>
            </tr>
        </table>

        <table class="w-full border-4 my-5">
            <thead class="border">
                <tr>
                    <th class="border text-lg text-center">
                        {% trans 'デザインイメージ' %}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border flex justify-around">
                        <div class="w-32 h-32 bg-cover bg-center"
                            style="background-image: url('{{ order_item.front.url }}');"></div>
                        <div class="w-32 h-32 bg-cover bg-center"
                            style="background-image: url('{{ order_item.side.url}}');"></div>
                        <div class="w-32 h-32 bg-cover bg-center"
                            style="background-image: url('{{ order_item.up.url}}');"></div>
                        <div class="w-32 h-32 bg-cover bg-center"
                            style="background-image: url('{{ order_item.down.url}}');"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="w-full border-4 mb-5">
            <thead>
                <tr class="border text-lg text-center">
                    <th class="border">{% trans '部品' %}</th>
                    <th class="border" colspan="2">{% trans '色(左・右)' %}</th>
                    <th class="border" colspan="2">{% trans '素材(左・右)' %}</th>
                    <th class="border" colspan="4">{% trans 'サイズ' %}</th>
                </tr>
            </thead>
            <tbody class="border text-sm">
                <tr>
                    <td class="border">
                        {% trans 'アウトソール' %}
                    </td>
                    <td class="border">
                        {{ order_item.outsole_color_left }}
                    </td>
                    <td class="border">
                        {{ order_item.outsole_color_right }}
                    </td>
                    <td class="border">
                        {{ order_item.outsole_material_left }}
                    </td>
                    <td class="border">
                        {{ order_item.outsole_material_right }}
                    </td>
                    <th class="border text-center" colspan="2">
                        　{% trans '左' %}
                    </th>
                    <th class="border text-center" colspan="2">
                        　{% trans '右' %}
                    </th>
                </tr>
                <tr>
                    <td class="border">
                        {% trans 'ミッドソール' %}
                    </td>
                    <td class="border">
                        {{ order_item.midsole_color_left }}
                    </td>
                    <td class="border">
                        {{ order_item.midsole_color_right }}
                    </td>
                    <td class="border">
                        {{ order_item.midsole_material_left }}
                    </td>
                    <td class="border">
                        {{ order_item.midsole_material_right }}
                    </td>
                    <td class="border text-center">
                        {% trans '足幅' %}
                    </td>
                    <td class="border text-center">
                        {% trans '足長' %}
                    </td>
                    <th class="border text-center">
                        {% trans '足幅' %}
                    </th>
                    <th class="border text-center">
                        {% trans '足長' %}
                    </th>
                </tr>
                <tr>
                    <td class="border">
                        {% trans 'アッパー' %}
                    </td>
                    <td class="border">
                        {{ order_item.uppersole_color_left }}
                    </td>
                    <td class="border">
                        {{ order_item.uppersole_color_right }}
                    </td>
                    <td class="border">
                        {{ order_item.uppersole_material_left }}
                    </td>
                    <td class="border">
                        {{ order_item.uppersole_material_right }}
                    </td>
                    <td class="border text-center" colspan="2" rowspan="3">
                        size
                    </td>
                    <td class="border text-center" colspan="2" rowspan="3">
                        size
                    </td>
                </tr>
                <tr>
                    <td class="border">
                        {% trans 'シューレス' %}
                    </td>
                    <td class="border">
                        {{ order_item.shoelace_color_left }}
                    </td>
                    <td class="border">
                        {{ order_item.shoelace_color_right }}
                    </td>
                    <td class="border">
                        {{ order_item.shoelace_material_left }}
                    </td>
                    <td class="border">
                        {{ order_item.shoelace_material_right }}
                    </td>
                </tr>
                <tr>
                    <td class="border">
                        {% trans 'タン' %}
                    </td>
                    <td class="border">
                        {{ order_item.tongue_color_left }}
                    </td>
                    <td class="border">
                        {{ order_item.tongue_color_right }}
                    </td>
                    <td class="border">
                        {{ order_item.tongue_material_left }}
                    </td>
                    <td class="border">
                        {{ order_item.tongue_material_right }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
{% endfor %}

</html>