{% load static %}
<footer class="footer-visual">
    <div class="h-64 flex overflow-hidden">
        <div class="flex justify-between items-center w-full">
            <div class="h-full">
                <div id="stars"></div>
                <div id="stars2"></div>
                <div id="stars3"></div>
                <div class="w-64 h-full relative">
                    <div class="moon w-64 h-64 absolute ml-10"></div>
                    <div class="walk absolute ml-36"></div>
                </div>
            </div>
            <div class="w-64 pt-10">
                <img src="{% static 'images/footer-logo.png' %}" alt="ロゴ">
            </div>
            <div class="w-64 h-full relative">
                <div class="planet1 absolute"></div>
                <div class="planet2 absolute"></div>
                <div class="planet3 absolute"></div>
            </div>
        </div>
    </div>
    <div class="h-10 flex justify-between items-center">
        <span class="w-64 text-gray-500 text-xs text-center tracking-widest ml-10">
            &copy; Team Uniwalk 2020
        </span>
        <div class="pr-12">
            <a href="https://www.facebook.com/uniwalkofficial/" target="_blank" class="ml-5 text-gray-500">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="" target="_blank" class="ml-5 text-gray-500">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="" target="_blank" class="ml-5 text-gray-500">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
</footer>