{% if messages %}
<ul class="absolute mx-auto top-0 left-0 right-0 flex justify-center">
    {% for message in messages %}
    <li
        class="flex items-center justify-between message font-medium bg-gray-700 z-10 h-16 text-white w-1/4 text-center {% if message.tags %}{{ message.tags }}{% endif %}">
        <div
            class="w-12 h-full rounded-lg flex items-center {% if message.tags == 'success' %}bg-green-600{% elif message.tags == 'info' %}bg-teal-600{% elif message.tags == 'error' %}bg-red-600{% elif message.tags == 'warning' %}bg-yellow-600{% endif %}">
            <i
                class="mx-auto fas fa-xl {% if message.tags == 'success' %}fa-check{% elif message.tags == 'info' %}fa-info{% elif message.tags == 'error' %}fa-times{% elif message.tags == 'warning' %}fa-exclamation{% endif %}"></i>
        </div>
        <span>{{ message }}</span>
        <span> </span>
    </li>
    {% endfor %}
</ul>
{% endif %}