{% load static i18n %}
<nav class="flex fixed w-full items-center justify-between flex-wrap bg-white h-28">
    <div class="flex w-full border-b border-gray-400 h-8 px-3 justify-between">
        <div class="w-1/2 flex items-center relative">
            {% get_current_language as LANGUAGE_CODE %}
            <a class="ml-5 mr-2 lang-btn cursor-pointer text-gray-500 hover:text-gray-600">
                <i class="fas fa-language fa-lg"></i>
            </a>
            {% if LANGUAGE_CODE == 'ja' %}
            <i class="twa-lg twa-japan-flag rounded-full"></i>
            {% elif LANGUAGE_CODE == 'ko' %}
            <i class="twa-lg twa-korea-south-south-korea-flag rounded-full"></i>
            {% elif LANGUAGE_CODE == 'id' %}
            <i class="twa-lg twa-indonesia-flag rounded-full"></i>
            {% elif LANGUAGE_CODE == 'en' %}
            <i class="twa-lg twa-america-island-minor-outlying-united-united-states-us-usa-flag rounded-full"></i>
            {% elif LANGUAGE_CODE == 'zh-hans' %}
            <i class="twa-lg twa-china-flag rounded-full"></i>
            {% elif LANGUAGE_CODE == 'pt-br' %}
            <i class="twa-lg twa-brazil-flag rounded-full"></i>
            {% endif %}
            <div class="lang-dropdown border border-gray-400 bg-white w-40 hidden absolute ml-3" style="top: 100%;">
                <a class="ja text-gray-500 block border-b border-gray-300 p-2 cursor-pointer hover:text-gray-600"
                    hreflang="ja">
                    日本語
                </a>

                <a class="ko text-gray-500 block border-b border-gray-300 p-2 cursor-pointer hover:text-gray-600"
                    hreflang="ko">
                    한국어
                </a>

                <a class="id text-gray-500 block border-b border-gray-300 p-2 cursor-pointer hover:text-gray-600"
                    hreflang="id">
                    Bahasa Indonesia
                </a>

                <a class="en text-gray-500 block border-b border-gray-300 p-2 cursor-pointer hover:text-gray-600"
                    hreflang="en">
                    English
                </a>

                <a class="zh-hans text-gray-500 block border-b border-gray-300 p-2 cursor-pointer hover:text-gray-600"
                    hreflang="zh-hans">
                    中文
                </a>

                <a class="pt-br text-gray-500 block p-2 hover:text-gray-600" hreflang="pt-br">
                    Português(Brasil)
                </a>

            </div>
        </div>
        <div class="w-full block flex-grow flex justify-end items-center lg:w-auto lg:flex-grow px-2 relative">
            {% if user.is_authenticated %}
            <span class="block lg:inline-block lg:mt-0 text-gray-500 mr-5 cursor-pointer">
                <div class="user-btn text-xs h-full px-3 border-blue text-universe-lighter hover:text-universe-dark">
                    <i class="fas fa-user fa-xs "></i>
                    <span class="ml-1">{{ user.email }}</span>
                </div>
                <div class=" dropdown-content border border-gray-400 absolute bg-white w-40 text-center hidden"
                    style="top: 100%; right: 5.3rem;">
                    <a href="{{ user.get_absolute_url }}"
                        class="text-gray-500 block border-b border-gray-300 py-2 hover:text-gray-600">{% trans 'マイページ' %}</a>
                    <a href="{% url 'users:logout' %}"
                        class="text-gray-500 block border-b border-gray-300 py-2 hover:text-gray-600">{% trans 'ログアウト' %}</a>
                    {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}"
                        class="text-gray-500 block py-2 hover:text-gray-600">{% trans '管理者モード' %}</a>
                    {% endif %}
                </div>
            </span>

            {% else %}
            <a href="{% url 'users:login' %}"
                class="block text-sm lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-600 mr-5">
                {% trans '会員登録・ログイン' %}
            </a>
            {% endif %}

            <a href="{% url 'orders:search' %}"
                class="block text-sm lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-600 mr-5">
                <i class="fas fa-search fa-xs"></i>
            </a>
            <a href="{% url 'carts:cart' %}"
                class="block text-sm lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-600 mr-5">
                <i class="fas fa-shopping-cart fa-xs"></i>
                {% if item_count != 0 %}
                <span
                    class="inline-block text-xs w-4 h-4 rounded bg-red-500 text-white text-center">{{item_count}}</span>
                {% endif %}
            </a>
        </div>
    </div>

    <div class="flex justify-between w-full items-center h-20 px-5">
        <div class="w-1/3">

        </div>
        <div class="flex items-center flex-shrink-0 text-black mr-6">
            <a href="{% url 'core:home' %}" class="flex items-center">
                <img src="{% static 'images/logo-universe.png' %}" class="h-16" alt="uniwalk-logo" />
            </a>
        </div>

        <div class="w-1/3 text-right">
            <a href="{% url 'core:home' %}"
                class="block mt-4 lg:inline-block lg:mt-0 text-universe-dark hover:text-universe-dark mr-5">
                {% trans 'ホーム' %}
            </a>
            <a href="{% url 'core:about' %}"
                class="block mt-4 lg:inline-block lg:mt-0 text-universe-dark hover:text-universe-dark mr-5">
                {% trans '紹介' %}
            </a>
            <a href="{% url 'products:list' %}"
                class="block mt-4 lg:inline-block lg:mt-0 text-universe-dark hover:text-universe-dark mr-5">
                {% trans '商品' %}
            </a>
        </div>
    </div>
</nav>