{% load static i18n %}
<header class="h-auto">
    <nav
        class="flex w-full items-center justify-between flex-wrap bg-universe-dark h-12 fixed inset-0 z-50 shadow-dark">
        <div class="flex w-full justify-between h-full">
            <div class="flex items-center w-36">
                <div class="w-12 h-full flex relative border-r border-universe-lighter">
                    {% get_current_language as LANGUAGE_CODE %}
                    <a class="flex items-center lang-btn cursor-pointer mx-auto">
                        <i class="fas fa-language fa-lg text-gray-300"></i>
                    </a>
                    <div class="lang-dropdown bg-universe-lighter w-40 hidden absolute shadow-dark" style="top: 100%;">
                        <a class="ja text-sm text-gray-300 block border-b border-universe-dark p-2 cursor-pointer hover:text-gray-600"
                            hreflang="ja">
                            日本語
                        </a>
                        <a class="ko text-sm text-gray-300 block border-b border-universe-dark p-2 cursor-pointer hover:text-gray-600"
                            hreflang="ko">
                            한국어
                        </a>
                        <a class="id text-sm text-gray-300 block border-b border-universe-dark p-2 cursor-pointer hover:text-gray-600"
                            hreflang="id">
                            Bahasa Indonesia
                        </a>
                        <a class="en text-sm text-gray-300 block border-b border-universe-dark p-2 cursor-pointer hover:text-gray-600"
                            hreflang="en">
                            English
                        </a>
                        <a class="zh-hans text-sm text-gray-300 block border-b border-universe-dark p-2 cursor-pointer hover:text-gray-600"
                            hreflang="zh-hans">
                            中文
                        </a>
                        <a class="pt-br text-sm text-gray-300 block p-2 cursor-pointer hover:text-gray-600"
                            hreflang="pt-br">
                            Português(Brasil)
                        </a>
                    </div>
                </div>
                <div class="w-12 h-full flex items-center ml-3 relative">
                    {% if LANGUAGE_CODE == 'ja' %}
                    <i class="twa-lg twa-japan-flag rounded-full"></i>
                    {% elif LANGUAGE_CODE == 'ko' %}
                    <i class="twa-lg twa-korea-south-south-korea-flag rounded-full"></i>
                    {% elif LANGUAGE_CODE == 'id' %}
                    <i class="twa-lg twa-indonesia-flag rounded-full"></i>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <i
                        class="twa-lg twa-america-island-minor-outlying-united-united-states-us-usa-flag rounded-full"></i>
                    {% elif LANGUAGE_CODE == 'zh-hans' %}
                    <i class="twa-lg twa-china-flag rounded-full"></i>
                    {% elif LANGUAGE_CODE == 'pt-br' %}
                    <i class="twa-lg twa-brazil-flag rounded-full"></i>
                    {% endif %}
                </div>
            </div>

            <h1 class="flex items-center w-36">
                <a href="{% url 'core:home' %}" class="w-32 mx-auto">
                    <img src="{% static 'images/logo-nav.png' %}" alt="uniwalk">
                </a>
            </h1>

            <div class="flex items-center w-36">
                <div class="w-12 h-full flex relative border-r border-l-2 border-universe-lighter">
                    <a class="user-btn flex items-center cursor-pointer mx-auto">
                        <i class="fas fa-user fa-md text-gray-300"></i>
                    </a>
                    <div class="dropdown-content bg-universe-lighter w-40 hidden absolute shadow-dark"
                        style="top: 100%; right: 0%;">
                        {% if user.is_authenticated %}
                        <a href="{{ user.get_absolute_url }}"
                            class="text-sm text-gray-300 block border-b border-universe-dark py-2 text-center cursor-pointer hover:text-gray-600">{% trans 'マイページ' %}</a>
                        <a href="{% url 'users:logout' %}"
                            class="text-sm text-gray-300 block {% if user.is_staff %} border-b border-universe-dark {% endif %} py-2 text-center cursor-pointer hover:text-gray-600">{% trans 'ログアウト' %}</a>
                        {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}"
                            class="text-sm text-gray-300 block py-2 text-center cursor-pointer hover:text-gray-600">{% trans '管理者モード' %}</a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'users:login' %}"
                            class="text-sm text-gray-300 block py-2 text-center cursor-pointer hover:text-gray-600">
                            {% trans '会員登録・ログイン' %}
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="w-12 h-full flex relative border-r border-universe-lighter">
                    <a href="{% url 'orders:search' %}" class="flex items-center cursor-pointer mx-auto">
                        <i class="fas fa-search fa-md text-gray-300"></i>
                    </a>
                </div>
                <div class="w-12 h-full flex relative">
                    <a href="{% url 'carts:cart' %}" class="flex items-center cursor-pointer mx-auto">
                        <i class="fas fa-shopping-cart fa-md text-gray-300 relative"></i>
                        {% if item_count != 0 %}
                        <span
                            class="inline-block text-xs w-4 h-4 rounded-full bg-red-500 text-white text-center absolute"
                            style="top: 7px; right: 5px">{{item_count}}</span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="h-64">
        <div class="h-full flex flex-col justify-center">
            <h2 class="text-center text-purple-900 text-4xl font-extrabold -mt-16 antialiased">
                Create what you want!
            </h2>
            <div class="flex mx-auto min-w-1/5 justify-center text-gray-400 text-lg rounded-lg mt-5 -mb-8 p-3"
                style=" background-color: rgba(28, 41, 52, 0.4);">
                <a class="hover:text-blue-400 mx-3 {% if '/about/' in request.path %} font-semibold text-blue-400 {% endif %}"
                    href="{% url 'core:about' %}">{% trans '紹介' %}</a>
                <a class="hover:text-green-500 mx-3 {% if '/products/' in request.path %} font-semibold text-green-500 {% endif %}"
                    href="{% url 'products:list' %}">{% trans '商品' %}</a>
                <a class="hover:text-purple-500 mx-3 {% if '/gallery/' in request.path %} font-semibold text-purple-500 {% endif %}"
                    href="{% url 'designs:galleries' %}">{% trans 'ギャラリー' %}</a>
            </div>
        </div>
    </div>
</header>