{% extends "base.html" %}
{% load i18n static humanize %}

{% block page_title %}
{% trans 'デザインギャラリー' %}
{% endblock page_title %}

{% block content %}

<div class="mx-auto pt-16 pb-10">

    <h2 class="text-center">{% trans 'ギャラリー' %}</h2>
    <div class="container mx-auto flex">
        <div class="w-full flex flex-wrap mb-10">
            <div class="w-full flex">
                <div class="w-1/3 pr-10">
                    <h2 class="text-sm font-semibold text-blue-500 mb-5">{% trans '商品カテゴリー' %}</h2>
                    <ul>
                        <li class="flex justify-between mb-2 text-sm">
                            <a href="{% url 'products:list' %}">{% trans 'すべて' %}</a>
                            <span class="text-gray-500">{{ designs|length }}</span>
                        </li>
                        {% for category in categories %}
                        <li class="flex justify-between mb-2 text-sm">
                            <a
                                href="{% url 'products:list-category' category.pk %}">{{ category.count_designs_by_category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-full">
                    {% if designs %}
                    {% for design in designs %}
                    <div class="p-5 border border-gray-400 mb-5 shadow-md">
                        <div class="flex justify-between items-center mb-3">
                            <div class="flex items-center">
                                <span class="font-semibold mr-3">{{ design.user.get_email_name }}</span>
                                <span class="text-gray-500">{{ design.created|date:'Y-m-d' }}</span>
                            </div>
                            <div class="flex items-center">
                                {% if user.is_authenticated %}
                                <a id="{{ design.pk }}" class="like">
                                    <i
                                        class='{% for check_user in design.likes.all %}{% if check_user == user  %}fas fa-heart text-lg text-red-600 {% endif %}{% endfor %}far fa-heart text-lg'></i>
                                </a>
                                {% endif %}
                                <span id="count{{ design.pk }}" class="ml-3">{{ design.total_likes }}</span>
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center justify-around">
                                {% for image in design.images.all %}
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.front.url }}');"></div>
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.side.url }}');"></div>
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.up.url }}');"></div>
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.down.url }}');"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="flex items-center justify-center mx-auto container my-8">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="text-teal-500">
                            <i class="fas fa-arrow-left fa-lg"></i>
                        </a>
                        {% endif %}

                        <span class="mx-3 font-medium text-lg">
                            {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}
                            {{ current_page }} ページ{% endblocktrans %}
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="text-teal-500">
                            <i class="fas fa-arrow-right fa-lg"></i>
                        </a>
                        {% endif %}
                    </div>

                    {% else %}
                    <p class="flex justify-center items-center font-semibold w-full h-50vh text-center text-2xl">
                        <i class="fas fa-grin-beam-sweat fa-2x text-teal-500"></i> <span
                            class="ml-5">デザインがまだ存在しません。</span>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('.like').click(function () {
        var pk = $(this).attr('id')
        $.ajax({
            type: "POST",
            url: "{% url 'designs:like' %}",
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (res) {
                if (res.check_like == "True") {
                    $("#" + pk).html("<i class='fas fa-heart text-lg text-red-600'></i>")
                } else {
                    $("#" + pk).html("<i class='far fa-heart text-lg'></i>")
                }
                $('#count' + pk).html(res.likes_count);
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    })
</script>
{% endblock %}