{% extends "base.html" %}
{% load i18n static humanize %}

{% block page_title %}
{% trans 'デザインギャラリー' %}
{% endblock page_title %}

{% block content %}

<div class="mx-auto pt-16 pb-10">
    <h2 class="text-center">{% trans 'ギャラリー' %}</h2>
    <div class="container mx-auto flex">
        <div class="w-full flex flex-wrap mb-10">
            <div class="w-full flex">
                <div class="w-1/3 pr-10">
                    <div class="w-full bg-white shadow py-3 px-5">
                        <h2 class="text-sm font-semibold text-blue-500 mb-5">{% trans 'カテゴリー別' %}</h2>
                        <ul>
                            <li class="flex justify-between mb-2 text-sm">
                                <a href="{% url 'designs:galleries' %}">{% trans 'すべて' %}</a>
                                <span class="text-gray-500">{{ designs_all |length }}</span>
                            </li>
                            {% for category in categories %}
                            <li class="flex justify-between mb-2 text-sm">
                                <a href="{% url 'designs:galleries-category' category.pk %}">{{ category }}</a>
                                <span class="text-gray-500">{{ category.count_designs_by_category }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="w-full mt-5 bg-white shadow py-3 px-5">
                        <h2 class="text-sm font-semibold text-blue-500 mb-5">{% trans '商品別' %}</h2>
                        <ul>
                            <li class="flex justify-between mb-2 text-sm">
                                <a href="{% url 'designs:galleries' %}">{% trans 'すべて' %}</a>
                                <span class="text-gray-500">{{ designs_all |length }}</span>
                            </li>
                            {% for product in products %}
                            <li class="flex justify-between mb-2 text-sm">
                                <a href="{% url 'designs:galleries-product' product.pk %}">{{ product }}</a>
                                <span class="text-gray-500">{{ product.count_designs_by_product }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="w-full infinite-container">
                    {% if designs %}
                    {% for design in designs %}
                    <div class="p-5 border border-gray-400 mb-5 shadow-md infinite-item">
                        <div class="flex justify-between items-center mb-3">
                            <div class="flex items-center">
                                <span class="font-semibold mr-3">{{ design.user.get_email_name }}</span>
                                <span class="text-gray-500">{{ design.created|date:'Y-m-d' }}</span>
                            </div>
                            <div class="flex items-center">
                                {% if user.is_authenticated %}
                                <a id="{{ design.pk }}" class="like">
                                    <i
                                        class='{% for check_user in design.likes.all %}{% if check_user == user  %}fas fa-heart text-lg text-red-600 {% endif %}{% endfor %}far fa-heart text-lg'></i>
                                </a>
                                {% endif %}
                                <span id="count{{ design.pk }}" class="ml-3">{{ design.total_likes }}</span>
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center justify-around">
                                {% for image in design.images.all %}
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.front.url }}');"></div>
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.side.url }}');"></div>
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.up.url }}');"></div>
                                <div class="w-1/4 h-56 bg-cover bg-center"
                                    style="background-image: url('{{ image.down.url }}');"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}

            </div>
            <div class="w-full flex">
                <div class="w-1/3"></div>
                <div class="w-full text-center mt-3 infinite-loading hidden">
                    <i class="fas fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/infinite.min.js"></script>
<script>
    $('.like').click(function () {
        var pk = $(this).attr('id')
        $.ajax({
            type: "POST",
            url: "{% url 'designs:like' %}",
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (res) {
                if (res.check_like == "True") {
                    $("#" + pk).html("<i class='fas fa-heart text-lg text-red-600'></i>")
                } else {
                    $("#" + pk).html("<i class='far fa-heart text-lg'></i>")
                }
                $('#count' + pk).html(res.likes_count);
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    })
</script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function () {
            $('.infinite-loading').show();
        },
        onAfterPageLoad: function () {
            $('.infinite-loading').hide();
        }
    });
</script>
{% endblock %}