{% extends "base.html" %}
{% load i18n js %}

{% block page_title %}
{% blocktrans with product_name=product.name %}{{ product_name }}{% endblocktrans %}
{% endblock page_title %}

{% block content %}

<div class="container max-w-full flex px-20 py-24" style="height: 60vh;">
    <div class="flex flex-col justify-between h-full w-2/5 bg-cover bg-center border-8 border-white">
        <div>
            <span class="text-gray-600">{{ product.category }}</span>
            <h2 class="font-bold text-3xl">{{ product.name }}</h2>
            <i class="fas fa-star text-yellow-500"></i> {{ product.total_rating }}
        </div>
        <p class="text-gray-600">
            {{ product.description }}
        </p>
        <div class="flex justify-between items-center pr-10 flex-wrap">
            <div class="w-32 text-xl font-semibold flex-shrink-0">&yen; {{ product.price }}
                <span class="text-xl"> ({% trans '税込' %})</span>
            </div>
            <a href="{% url 'designs:customize' product.pk %}"
                class="btn w-56 shadow-dark flex-shrink-0">{% trans 'カスタマイズして購入' %}</a>
        </div>
    </div>
    <div class="h-full w-3/5 flex flex-wrap px-3">
        <div class="w-5/6 h-full bg-cover bg-center border-8 border-white"
            style="background-image: url({{product.first_image}});"></div>
        {% for image in product.get_next_four_images %}
        <div style="background-image: url({{image.image.url}});"
            class="w-1/2 h-auto bg-cover bg-center border-8 border-white"></div>
        {% endfor %}
    </div>
</div>

<div class="w-full border-t bg-gray-100 px-20 py-12">
    <div class="flex items-end justify-between pb-5 border-b">
        <div>
            <span class="ml-1 font-semibold text-lg">全てのレビュー</span>
            <span class="ml-3 text-blue-600 font-semibold text-xl">{{ product.reviews.count }}</span>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'reviews:post' product.pk %}" class="w-56 btn bg-green-400">{% trans 'レビューを書く' %}</a>
        {% endif %}
    </div>

    {% if rev %}
    <div class="flex flex-wrap -mx-5">
        {% for r in rev %}
        <div class="w-1/2 overflow-hidden p-5">
            <div id="card-{{ r.pk }}" class="h-48 p-5 rounded shadow-lg overflow-hidden">
                <div class="flex flex-col mb-3">
                    <div class="flex justify-between">
                        <span class="font-semibold">{{ r.user.get_email_name }}</span>
                        <span class="ml-1"><i class="fas fa-star text-teal-500"></i> {{ r.rate }}</span>
                    </div>
                    <span class="text-sm text-gray-500">{{ r.created|date:'Y-m-d' }}</span>
                </div>
                <p id="text-{{ r.pk }}" class="text-justify">{{ r.text|truncatechars:200 }}</p>
                {% if r.text|length > 250 %}
                <div class="text-center">
                    <a id="{{ r.pk }}" class="text-sm text-teal-500 cursor-pointer"
                        onclick="openCards(this.id)">{% trans '詳しく見る' %}</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <a href="{% url 'reviews:list' product.pk %}" class="btn bg-orange-400 mt-5 mx-5">{% trans '全てのレビューを見る' %}</a>
    </div>
    {% else %}
    <p class="flex justify-center items-center m-5 font-semibold w-full text-center text-2xl">
        <i class="fas fa-grin-beam-sweat fa-2x text-teal-500"></i> <span class="ml-5">レビューがまだ存在しません。</span>
    </p>
    {% endif %}
</div>

<script>
    var texts = {{ reviews_text | js }};
    const openCards = (id) => {
        const card = document.getElementById("card-" + id);
        const text = document.getElementById("text-" + id);
        const btn = document.getElementById(id);
        card.classList.remove("h-48");
        card.classList.add("h-auto");
        text.innerHTML = texts[id];
        document.getElementById(id).remove();
    };
</script>

{% endblock %}