@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+JP|Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans JP", "Montserrat", "Noto Sans KR", sans-serif;
}

// nav
.dropdown-content {
  z-index: 1;
  margin-top: 3px;
  margin-left: -3rem;
  display: none;
}

// footer
.footer-visual {
  background: radial-gradient(ellipse at bottom, #141d25 0%, #2c3e50 100%);
  overflow: hidden;
}

.moon {
  top: 50%;
  background: url("../../static/images/moon.png") left center;
  animation: play 10s linear infinite;
}

@keyframes play {
  100% {
    transform: rotate(-360deg);
  }
}

.planet1 {
  background: url("../../static/images/planet1.svg") left center;
  width: 212px;
  height: 212px;
  top: -30%;
  left: 35%;
  animation: blinking 10s infinite, hop 6s infinite;
}
.planet2 {
  background: url("../../static/images/planet2.svg") left center;
  width: 51px;
  height: 51px;
  top: 50%;
  animation: blinking 3s infinite, hop 2s infinite;
}
.planet3 {
  background: url("../../static/images/planet3.svg") left center;
  width: 95px;
  height: 95px;
  bottom: -5%;
  left: 20%;
  animation: blinking 5s infinite, hop 4s infinite;
}

@keyframes blinking {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.walk {
  width: 46px;
  height: 64px;
  top: 25%;
  background: url("../../static/images/walk.png") left center;
  animation: walk 2s steps(2) infinite, hop 2s linear infinite;
}

@keyframes walk {
  100% {
    background-position: -92px;
  }
}

@keyframes hop {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(512)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(512)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 40s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 512px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 80s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 512px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 120s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 512px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(64px);
  }
  50% {
    transform: translateY(32px);
  }
  75% {
    transform: translateY(48px);
  }
  100% {
    transform: translateY(0px);
  }
}

.btn {
  @apply w-full font-light text-center rounded-sm py-5 text-lg;
}
.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-indigo-500;
}

select#js-lang {
  @apply w-1/6 h-5 ml-1 text-xs border border-gray-400 p-0;
}

input,
textarea,
select {
  @apply w-full font-light rounded-sm py-5 text-lg text-left border border-gray-600 px-5;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

textarea {
  resize: none;
  height: 100px;
}

form {
  .input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

#id_payment {
  @apply w-full flex;
  li {
    @apply w-1/2;
    label {
      @apply flex items-center;
      input {
        @apply w-1/12;
      }
    }
  }
}

#id_is_same_with_recipient {
  @apply w-1/12;
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(120px);
  }
  95% {
    opacity: 1;
    transform: translateY(120px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-teal-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
  &.success {
    @apply bg-green-500;
  }
}

// アバウト
.logo {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 1rem solid #3e3e3e;
  outline-offset: 1rem;
}

.infobox-up {
  position: relative;
  top: 5%;
  padding: 20px;
  opacity: 1;
}

.infobox-down {
  position: relative;
  top: 60%;
  padding: 20px;
  opacity: 1;
}

@tailwind utilities;
