@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+JP|Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans JP", "Montserrat", "Noto Sans KR", sans-serif;
}

// nav
.dropdown-content {
  z-index: 10;
}

.border-blue {
  @apply border rounded-full;
  border-color: rgba(104, 127, 255, 1);
}

// footer
.footer-visual {
  background: radial-gradient(ellipse at bottom, #141d25 0%, #2c3e50 100%);
  overflow: hidden;
}

.moon {
  top: 50%;
  background: url("../../static/images/moon.png") left center;
  animation: play 10s linear infinite;
}

@keyframes play {
  100% {
    transform: rotate(-360deg);
  }
}

.planet1 {
  background: url("../../static/images/planet1.svg") left center;
  width: 212px;
  height: 212px;
  top: -30%;
  left: 35%;
  animation: blinking 10s infinite, hop 6s infinite;
}
.planet2 {
  background: url("../../static/images/planet2.svg") left center;
  width: 51px;
  height: 51px;
  top: 50%;
  animation: blinking 3s infinite, hop 2s infinite;
}
.planet3 {
  background: url("../../static/images/planet3.svg") left center;
  width: 95px;
  height: 95px;
  bottom: -5%;
  left: 20%;
  animation: blinking 5s infinite, hop 4s infinite;
}

@keyframes blinking {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.walk {
  width: 46px;
  height: 64px;
  top: 25%;
  background: url("../../static/images/walk.png") left center;
  animation: walk 2s steps(2) infinite, hop 2s linear infinite;
}

@keyframes walk {
  100% {
    background-position: -92px;
  }
}

@keyframes hop {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(512)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(512)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 40s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 512px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 80s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 512px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 120s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 512px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(64px);
  }
  50% {
    transform: translateY(32px);
  }
  75% {
    transform: translateY(48px);
  }
  100% {
    transform: translateY(0px);
  }
}

// ボタン
.btn {
  @apply w-full font-light text-center rounded-lg py-5 text-lg text-white;
  background: linear-gradient(
    90deg,
    rgba(114, 43, 255, 1) 0%,
    rgba(104, 127, 255, 1) 100%
  );
  &-warning {
    @apply w-full font-light text-center rounded-lg py-5 text-lg text-white;
    background: linear-gradient(to right, #f7971e, #ffd200);
  }
  &-danger {
    @apply w-full font-light text-center rounded-lg py-5 text-lg text-white;
    background: linear-gradient(to left, #ed213a, #93291e);
  }
}

.btn-link {
  @apply font-semibold;
  color: rgba(104, 127, 255, 1);
}

// インプット
.floating-label {
  position: relative;
  label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
  input:not(:placeholder-shown) {
    padding: 28px 0px 12px 0px;
  }
  input:not(:placeholder-shown) + label {
    transform: translateY(-1rem);
    opacity: 0.7;
  }
}

label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}

input {
  @apply w-full;
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
  &:focus {
    border-bottom: solid 1px rgba(114, 43, 255, 1);
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(114, 43, 255, 0.45);
  }
}

form {
  .input {
    &.has_error {
      input {
        @apply bg-red-100;
      }
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

select {
  @apply w-full;
}
/* Custom Select */
.select {
  width: 100%;
  position: relative;
  display: flex;
  height: 56px;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 0.25em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.select {
  flex: 1;
  align-items: center;
  color: #000;
  cursor: pointer;
}
/* Arrow */
.select::after {
  @apply text-gray-600;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: rgba(114, 43, 255, 1);
}

input[type="checkbox"]:not(#show-new-card) {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
}

input[type="checkbox"]:not(#show-new-card):checked {
  border-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(114, 43, 255, 1) 0%,
    rgba(104, 127, 255, 1) 100%
  );
  animation: jelly 0.6s ease;
  &:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

// 言語変換
select#js-lang {
  @apply w-1/6 h-5 ml-1 text-xs border border-gray-400 p-0;
}

// タイトル
.title {
  @apply font-semibold text-4xl;
  background: linear-gradient(
    to right,
    rgba(114, 43, 255, 1),
    rgba(104, 127, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  @apply w-full font-light rounded-sm py-5 text-lg text-left border border-gray-600 px-5;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

textarea {
  resize: none;
  height: 100px;
}

#id_payment {
  @apply w-full flex;
  li {
    @apply w-1/2;
    label {
      @apply flex items-center;
      input {
        @apply w-1/12;
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(120px);
  }
  95% {
    opacity: 1;
    transform: translateY(120px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

// メッセージ
.message {
  @apply rounded-lg;
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-500;
  }
  &.info {
    @apply bg-teal-500;
  }
  &.warning {
    @apply bg-yellow-500;
  }
  &.success {
    @apply bg-green-500;
  }
}

// アバウト
.logo {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 1rem solid #3e3e3e;
  outline-offset: 1rem;
}

.infobox-up {
  position: relative;
  top: 5%;
  padding: 20px;
  opacity: 1;
}

.infobox-down {
  position: relative;
  top: 60%;
  padding: 20px;
  opacity: 1;
}

@tailwind utilities;
