{% extends 'admin/base.html' %}
{% load static i18n humanize %}
{% block content %}
<div class="w-full flex">
    <nav class="w-1/4 mr-10">
        <h2 class="font-semibold mb-5 overflow-y-auto">{% trans 'チャットリスト' %}</h2>
        <ul class="nav nav-pills flex-column" id="rooms">
        </ul>
    </nav>
    <main role="main" class="w-3/4" id="main">
        <div class="chat">
            <div class="bg-gray-200 p-5 text-lg font-semibold mb-5">
                <span>{% trans 'チャットルーム　' %}</span>
                <span id="room-title"></span>
            </div>
            <div class="response mb-5">
                <form id="replyMessage">
                    <input type="text" placeholder="{% trans 'メッセージ入力' %}" class="w-full" name="message" />
                </form>
            </div>
            <div class="w-full">
                <table class="w-full">
                    <tbody id="chat-msgs">
                    </tbody>
                </table>
            </div>
    </main>
</div>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/chat/axios.js' %}"></script>
<script src="{% static 'js/chat/admin.js' %}"></script>
{% endblock %}