{% extends 'admin/base.html' %}
{% load i18n humanize %}
{% block content %}
<div class="flex flex-row flex-wrap flex-grow mt-2">
    <div class="w-full p-3">
        <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">{% trans '足長' %}</h5>
            </div>
            <div class="p-5">
                sdadasd
            </div>
        </div>
    </div>

    <div class="w-full p-3">
        <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">{% trans '足幅' %}</h5>
            </div>
            <div class="p-5">
                sdadasd
            </div>
        </div>
    </div>
</div>
{% endblock %}