{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    {% if original.step.step_code == "T01" or original.step.step_code == "T02" %}
    <a href="{% url 'admin:bill' original.pk %}" class="button">請求書</a>
    {% endif %}
    {% if original.step.step_code == "T03" or original.step.step_code == "T11" or original.step.step_code == "T21" %}
    <a href="{% url 'admin:receipt' original.pk %}" class="button">領収書</a>
    {% endif %}
    {% if original.step.step_code == "T11" %}
    <a href="{% url 'admin:ordersheet' original.pk %}" class="button">発注書</a>
    {% endif %}
    {% if original.step.step_code == "T21" %}
    <a href="{% url 'admin:invoice' original.pk %}" class="button">納品書</a>
    {% endif %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
{% endif %}
{% endblock %}