{% extends "base.html" %}
{% load i18n static js %}

{% block page_title %}
{% trans 'デザインカスタマイズ' %}
{% endblock page_title %}

{% block content %}

<div class="mx-auto w-full min-h-75vh">
    <form method="POST">
        {% csrf_token %}
        <div id="screen" class="w-full h-75vh relative">
            <div id="guiContainer" class="absolute" style="right: 0px;"></div>
            <button id="submit" class="btn w-64 absolute" style="bottom: 1rem; right: 1rem;">デザイン確定</button>
        </div>
        {{ form }}
    </form>
    <div class="w-full flex">
        <div class="w-12 bg-gray-300">
            <a href="" id="prev_page" class="hidden w-full block h-56 flex items-center justify-center">
                <i class="fas fa-chevron-left fa-2x"></i>
            </a>
        </div>
        <ul id="design_list" class="w-full h-56 flex">
            {% if designs %}
            {% for design in designs %}
            {% endfor %}
            {% endif %}
            {% include 'mixins/designs/related_design_card.html' %}
        </ul>
        {% if page_obj.has_next %}
        <div class="w-12 bg-gray-300">
            <a href="" id="next_page" class="w-full block h-56 flex items-center justify-center">
                <i class="fas fa-chevron-right fa-2x"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>


{% endblock content %}

{% block javascript %}
<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/OrbitControls.js' %}"></script>
<script src="{% static 'js/GLTFLoader.js' %}"></script>
<script src="{% static 'js/dat.gui.min.js' %}"></script>
<script>
    // three.js 環境設定
    var gui, jar;
    var scene = new THREE.Scene();
    var screen = document.getElementById("screen");

    var renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.shadowMap.enabled = true;
    renderer.setSize(screen.clientWidth, screen.clientHeight);
    renderer.setClearColor(0xeeeee4, 1);
    renderer.shadowMap.Type = THREE.PCFSoftShadowMap;
    screen.appendChild(renderer.domElement);

    // 操作用カメラ設定
    var camera = new THREE.PerspectiveCamera(75, screen.clientWidth / screen.clientHeight, 1, 1000);
    camera.aspect = screen.clientWidth / screen.clientHeight;
    camera.updateProjectionMatrix();

    window.addEventListener('resize', function () {
        var width = screen.clientWidth;
        var height = screen.clientHeight;
        renderer.setSize(width, height);
        camera.aspect = width / height;
        camera.updateProjectionMatrix();
    });

    controls = new THREE.OrbitControls(camera, renderer.domElement);

    var loader = new THREE.GLTFLoader();


    // デザインカスタマイズ用テンプレートのロード
    var shoelace_left_data, tongue_left_data, upper_left_data, midsole_left_data, outsole_left_data, liner_left_data, shoelace_right_data, tongue_right_data, upper_right_data, midsole_right_data, outsole_right_data, liner_right_data;

    {% if template.shoelace_left %}
    shoelace_left_data = "{{ template.shoelace_left.url }}";
    {% endif %}
    {% if template.tongue_left %}
    tongue_left_data = "{{ template.tongue_left.url }}";
    {% endif %}
    {% if template.upper_left %}
    upper_left_data = "{{ template.upper_left.url }}";
    {% endif %}
    {% if template.midsole_left %}
    midsole_left_data = "{{ template.midsole_left.url }}";
    {% endif %}
    {% if template.outsole_left %}
    outsole_left_data = "{{ template.outsole_left.url }}";
    {% endif %}
    {% if template.liner_left %}
    liner_left_data = "{{ template.liner_left.url }}";
    {% endif %}
    {% if template.shoelace_right %}
    shoelace_right_data = "{{ template.shoelace_right.url }}";
    {% endif %}
    {% if template.tongue_right %}
    tongue_right_data = "{{ template.tongue_right.url }}";
    {% endif %}
    {% if template.upper_right %}
    upper_right_data = "{{ template.upper_right.url }}";
    {% endif %}
    {% if template.midsole_right %}
    midsole_right_data = "{{ template.midsole_right.url }}";
    {% endif %}
    {% if template.outsole_right %}
    outsole_right_data = "{{ template.outsole_right.url }}";
    {% endif %}
    {% if template.liner_right %}
    liner_right_data = "{{ template.liner_right.url }}";
    {% endif %}

    if (shoelace_left_data) {
        loader.load(shoelace_left_data, load_left_shoelace);
    }
    var left_shoelace;
    function load_left_shoelace(gltf) {
        var color, material;
        // try {
        //     color = ;
        // }
        // catch (e) {
        //     color = "0xffffff";
        // }
        left_shoelace = gltf.scene.children[0];
        left_shoelace.material = new THREE.MeshLambertMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(left_shoelace);
        left_shoelace.position.z = 2;
    }

    if (tongue_left_data) {
        loader.load(tongue_left_data, load_left_tongue);
    }
    var left_tongue;
    function load_left_tongue(gltf) {
        left_tongue = gltf.scene.children[0];
        left_tongue.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(left_tongue);
        left_tongue.position.z = 2;
    }

    if (upper_left_data) {
        loader.load(upper_left_data, load_left_upper);
    }
    var left_upper;
    function load_left_upper(gltf) {
        left_upper = gltf.scene.children[0];
        left_upper.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(left_upper);
        left_upper.position.z = 2;
    }

    if (midsole_left_data) {
        loader.load(midsole_left_data, load_left_bottom);
    }
    var left_bottom;
    function load_left_bottom(gltf) {
        left_bottom = gltf.scene.children[0];
        left_bottom.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(left_bottom);
        left_bottom.position.z = 2;
    }

    if (outsole_left_data) {
        loader.load(outsole_left_data, load_left_sole);
    }
    var left_sole;
    function load_left_sole(gltf) {
        left_sole = gltf.scene.children[0];
        left_sole.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(left_sole);
        left_sole.position.z = 2;
    }

    // if (liner_left_data) {
    //     loader.load('{{ template.shoelace_left.url }}', load_left_sole);
    // }
    // function load_left_sole(gltf) {
    //     var left_sole;
    //     left_sole = gltf.scene.children[0];
    //     left_sole.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
    //     scene.add(left_sole);
    //     left_sole.position.z = 2;
    // }

    if (shoelace_right_data) {
        loader.load(shoelace_right_data, load_right_shoelace);
    }
    var right_shoelace;
    function load_right_shoelace(gltf) {
        right_shoelace = gltf.scene.children[0];
        right_shoelace.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(right_shoelace);
        right_shoelace.position.z = 2;
    }

    if (tongue_right_data) {
        loader.load(tongue_right_data, load_right_tongue);
    }
    var right_tongue;
    function load_right_tongue(gltf) {
        right_tongue = gltf.scene.children[0];
        right_tongue.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(right_tongue);
        right_tongue.position.z = 2;
    }

    if (upper_right_data) {
        loader.load(upper_right_data, load_right_upper);
    }
    var right_upper;
    function load_right_upper(gltf) {
        right_upper = gltf.scene.children[0];
        right_upper.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(right_upper);
        right_upper.position.z = 2;
    }

    if (midsole_right_data) {
        loader.load(midsole_right_data, load_right_bottom);
    }
    var right_bottom;
    function load_right_bottom(gltf) {
        right_bottom = gltf.scene.children[0];
        right_bottom.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(right_bottom);
        right_bottom.position.z = 2;
    }

    var right_sole;
    // console.log(load_right_sole(loader))
    if (outsole_right_data) {
        loader.load(outsole_right_data, load_right_sole);
    }
    function load_right_sole(gltf) {
        right_sole = gltf.scene.children[0];
        right_sole.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
        scene.add(right_sole);
        right_sole.position.z = 2;
    }

    // if (liner_right_data) {
    //     loader.load('{{ template.shoelace_left.url }}', load_left_sole);
    // }
    // function load_left_sole(gltf) {
    //     var left_sole;
    //     left_sole = gltf.scene.children[0];
    //     left_sole.material = new THREE.MeshPhongMaterial({ color: 0xffffff, map: new THREE.TextureLoader().load('{% static "images/leather.jpg" %}'), side: THREE.DoubleSide });
    //     scene.add(left_sole);
    //     left_sole.position.z = 2;
    // }

    var gui = new dat.GUI();

    // GUIの設定
    function displaygui() {
        parameters = {
            a: "Middle",

            // 左足の色のデフォルト値
            d: "#ffffff",
            e: "#ffffff",
            f: "#ffffff",
            g: "#ffffff",
            h: "#ffffff",

            // 右足の色のデフォルト値
            i: "#ffffff",
            j: "#ffffff",
            k: "#ffffff",
            l: "#ffffff",
            m: "#ffffff",

            // 左足の素材のデフォルト値
            n: "rubber",
            o: "rubber",
            p: "rubber",
            q: "rubber",
            r: "rubber",

            // 右足の素材のデフォルト値
            s: "rubber",
            t: "rubber",
            u: "rubber",
            v: "rubber",
            w: "rubber",
        }

        gui.add(parameters, 'a').name('Name');

        // 左足の色
        var left = gui.addFolder('Left Shoe Color');
        var l_shoelace = left.addColor(parameters, 'd').name('Shoelace');
        var l_upper = left.addColor(parameters, 'e').name('Upper');
        var l_tongue = left.addColor(parameters, 'f').name('Tongue');
        var l_bottom = left.addColor(parameters, 'g').name('Bottom');
        var l_sole = left.addColor(parameters, 'h').name('Sole');

        // 右足の色
        var right = gui.addFolder('Right Shoe Color');
        var r_shoelace = right.addColor(parameters, 'i').name('Shoelace');
        var r_upper = right.addColor(parameters, 'j').name('Upper');
        var r_tongue = right.addColor(parameters, 'k').name('Tongue');
        var r_bottom = right.addColor(parameters, 'l').name('Bottom');
        var r_sole = right.addColor(parameters, 'm').name('Sole');

        // 左足の素材
        var left_m = gui.addFolder('Left Shoe Material');
        var lm_shoelace = left_m.add(parameters, 'n', ["rubber", "leather", "fabric"]).name('Shoelace');
        var lm_upper = left_m.add(parameters, 'o', ["rubber", "leather", "fabric"]).name('Upper');
        var lm_tongue = left_m.add(parameters, 'p', ["rubber", "leather", "fabric"]).name('Tongue');
        var lm_bottom = left_m.add(parameters, 'q', ["rubber", "leather", "fabric"]).name('Bottom');
        var lm_sole = left_m.add(parameters, 'r', ["rubber", "leather", "fabric"]).name('Sole');

        // 右足の素材
        var right_m = gui.addFolder('Right Shoe Material');
        var rm_shoelace = right_m.add(parameters, 's', ["rubber", "leather", "fabric"]).name('Shoelace');
        var rm_upper = right_m.add(parameters, 't', ["rubber", "leather", "fabric"]).name('Upper');
        var rm_tongue = right_m.add(parameters, 'u', ["rubber", "leather", "fabric"]).name('Tongue');
        var rm_bottom = right_m.add(parameters, 'v', ["rubber", "leather", "fabric"]).name('Bottom');
        var rm_sole = right_m.add(parameters, 'w', ["rubber", "leather", "fabric"]).name('Sole');

        // 左足の色の変更時の処理
        l_shoelace.onChange(function (jar) {
            left_shoelace.material.color.setHex(jar.replace("#", "0x"));
        });
        l_upper.onChange(function (jar) {
            left_upper.material.color.setHex(jar.replace("#", "0x"));
        });
        l_tongue.onChange(function (jar) {
            left_tongue.material.color.setHex(jar.replace("#", "0x"));
        });
        l_bottom.onChange(function (jar) {
            left_bottom.material.color.setHex(jar.replace("#", "0x"));
        });
        l_sole.onChange(function (jar) {
            left_sole.material.color.setHex(jar.replace("#", "0x"));
        });

        // 右足の色の変更時の処理
        r_shoelace.onChange(function (jar) {
            right_shoelace.material.color.setHex(jar.replace("#", "0x"));
        });
        r_upper.onChange(function (jar) {
            right_upper.material.color.setHex(jar.replace("#", "0x"));
        });
        r_tongue.onChange(function (jar) {
            right_tongue.material.color.setHex(jar.replace("#", "0x"));
        });
        r_bottom.onChange(function (jar) {
            right_bottom.material.color.setHex(jar.replace("#", "0x"));
        });
        r_sole.onChange(function (jar) {
            right_sole.material.color.setHex(jar.replace("#", "0x"));
        });

        // 左足の素材の変更時の処理
        lm_shoelace.onChange(function (jar) {
            var left_shoelace_material = lm_shoelace.object.n;
            left_shoelace.material.map = new THREE.TextureLoader().load('img/' + left_shoelace_material + '.jpg');

        });
        lm_upper.onChange(function (jar) {
            var left_upper_material = lm_upper.object.o;
            left_upper.material.map = new THREE.TextureLoader().load('img/' + left_upper_material + '.jpg');

        });
        lm_tongue.onChange(function (jar) {
            var left_tongue_material = lm_tongue.object.p;
            left_tongue.material.map = new THREE.TextureLoader().load('img/' + left_tongue_material + '.jpg');

        });
        lm_bottom.onChange(function (jar) {
            var left_bottom_material = lm_bottom.object.q;
            left_bottom.material.map = new THREE.TextureLoader().load('img/' + left_bottom_material + '.jpg');

        });
        lm_sole.onChange(function (jar) {
            var left_sole_material = lm_sole.object.r;
            left_sole.material.map = new THREE.TextureLoader().load('img/' + left_sole_material + '.jpg');

        });

        // 右足の素材の変更時の処理
        rm_shoelace.onChange(function (jar) {
            var right_shoelace_material = rm_shoelace.object.s;
            right_shoelace.material.map = new THREE.TextureLoader().load('img/' + right_shoelace_material + '.jpg');

        });
        rm_upper.onChange(function (jar) {
            var right_upper_material = rm_upper.object.t;
            right_upper.material.map = new THREE.TextureLoader().load('img/' + right_upper_material + '.jpg');

        });
        rm_tongue.onChange(function (jar) {
            var right_tongue_material = rm_tongue.object.u;
            right_tongue.material.map = new THREE.TextureLoader().load('img/' + right_tongue_material + '.jpg');

        });
        rm_bottom.onChange(function (jar) {
            var right_bottom_material = rm_bottom.object.v;
            right_bottom.material.map = new THREE.TextureLoader().load('img/' + right_bottom_material + '.jpg');

        });
        rm_sole.onChange(function (jar) {
            var right_sole_material = rm_sole.object.w;
            right_sole.material.map = new THREE.TextureLoader().load('img/' + right_sole_material + '.jpg');

        });

        gui.close();
        gui.open();

    }

    var guiContainer = document.getElementById('guiContainer');
    guiContainer.appendChild(gui.domElement);
    guiContainer.addEventListener('mouseover', function () {
        controls.enabled = false;
    })
    guiContainer.addEventListener('mouseout', function () {
        controls.enabled = true;
    })

    camera.position.z = 4;

    var ambientLight = new THREE.AmbientLight(0x888888, 0.9);
    scene.add(ambientLight);

    var shadowLight = new THREE.DirectionalLight(0xffffff, 1, 0);
    shadowLight.position.set(0, 1, 0);
    shadowLight.castShadow = true;
    scene.add(shadowLight);

    var render = function () {
        renderer.render(scene, camera);
    };

    var GameLoop = function () {
        requestAnimationFrame(GameLoop);
        render();
    };

    GameLoop();
    displaygui();

    // 確定後の処理
    var submit = document.getElementById("submit")

    var outsole_color_left = document.getElementById("id_outsole_color_left");
    var midsole_color_left = document.getElementById("id_midsole_color_left");
    var uppersole_color_left = document.getElementById("id_uppersole_color_left");
    var shoelace_color_left = document.getElementById("id_shoelace_color_left");
    var tongue_color_left = document.getElementById("id_tongue_color_left");
    var liner_color_left = document.getElementById("id_liner_color_left");
    var outsole_color_right = document.getElementById("id_outsole_color_right");
    var midsole_color_right = document.getElementById("id_midsole_color_right");
    var uppersole_color_right = document.getElementById("id_uppersole_color_right");
    var shoelace_color_right = document.getElementById("id_shoelace_color_right");
    var tongue_color_right = document.getElementById("id_tongue_color_right");
    var liner_color_right = document.getElementById("id_liner_color_right");

    var image = document.getElementById("id_image_data");

    submit.addEventListener("click", () => {
        outsole_color_left.value = "#" + left_sole.material.color.getHexString();
        midsole_color_left.value = "#" + left_bottom.material.color.getHexString();
        uppersole_color_left.value = "#" + left_upper.material.color.getHexString();
        shoelace_color_left.value = "#" + left_shoelace.material.color.getHexString();
        tongue_color_left.value = "#" + left_tongue.material.color.getHexString();
        // liner_color_left.value = "#" + .material.color.getHexString();
        outsole_color_right.value = "#" + right_sole.material.color.getHexString();
        midsole_color_right.value = "#" + right_bottom.material.color.getHexString();
        uppersole_color_right.value = "#" + right_upper.material.color.getHexString();
        shoelace_color_right.value = "#" + right_shoelace.material.color.getHexString();
        tongue_color_right.value = "#" + right_tongue.material.color.getHexString();
        // liner_color_right.value = "#" + .material.color.getHexString();

        // スクリーンショットを取る
        render();
        var canvas = document.getElementsByTagName("canvas")[0];
        image_data = canvas.toDataURL('image/jpeg');
        image.value = image_data;
    });
</script>
<script>
    $(document).ready(function () {
        // ページ機能
        var cur_page = parseInt('{{ page_obj.number }}');
        var next_page = parseInt('{{ page_obj.next_page_number }}');
        var last_page = parseInt('{{ page_obj.paginator.num_pages }}');
        $("#next_page").click(function () {
            if (next_page == last_page) {
                $("#next_page").addClass("hidden");
            } else {
                $("#next_page").removeClass("hidden");
            }

            $.get("", { page: next_page }, function (data) {
                $("#design_list").html(data);
                cur_page += 1;
                next_page = cur_page + 1;
                if (cur_page > 1) {
                    $("#prev_page").removeClass("hidden");
                }
            });
            return false;
        });
        $("#prev_page").click(function () {
            $("#next_page").removeClass("hidden");

            $.get("", { page: cur_page - 1 }, function (data) {
                $("#design_list").html(data);
                cur_page -= 1;
                next_page = cur_page + 1;
                if (cur_page == 1) {
                    $("#prev_page").addClass("hidden");
                }

            });
            return false;
        });

        // パレットからのデザイン反映
        $('body').on("click", ".design-form", function (e) {
            e.preventDefault();
            var pk = $(this).attr("id").split("_")[1];
            $.ajax({
                'url': $('#form_' + pk).attr('action'),
                'type': 'POST',
                'data': $('#form_' + pk).serialize(),
                'dataType': 'json',
                'success': function (response) {
                    left_sole.material.color = new THREE.Color(response["outsole_color_left"]);
                    left_bottom.material.color = new THREE.Color(response["midsole_color_left"]);
                    left_upper.material.color = new THREE.Color(response["uppersole_color_left"]);
                    left_shoelace.material.color = new THREE.Color(response["shoelace_color_left"]);
                    left_tongue.material.color = new THREE.Color(response["tongue_color_left"]);
                    right_sole.material.color = new THREE.Color(response["outsole_color_right"]);
                    right_bottom.material.color = new THREE.Color(response["midsole_color_right"]);
                    right_upper.material.color = new THREE.Color(response["uppersole_color_right"]);
                    right_shoelace.material.color = new THREE.Color(response["shoelace_color_right"]);
                    right_tongue.material.color = new THREE.Color(response["tongue_color_right"]);
                },
                'error': function (error) {
                    console.log(error);
                }
            });
            return false;
        });
    });

</script>
{% endblock %}