{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}
{% trans 'アバウト' %}
{% endblock page_title %}

{% block content %}
<div class="flex items-center min-h-75vh rounded-xl py-16"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container bg-white w-4/5 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 relative">
        <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute" style="top: -3rem;">
            <img src="{% static 'images/logo-icon.png' %}">
        </div>
        <section class="w-full text-center mb-10">
            <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans 'Uniwalkは' %}</h2>
            <div class="flex relative">
                <div class="w-2/4 h-50vh bg-center bg-cover opacity-50"
                    style="background-image: url({% static 'images/about1.jpg' %});">
                </div>
                <div class="logo z-10">
                    <img src="{% static 'images/logo-black.png'%}" class="bg-white w-40" alt="ロゴ">
                </div>
                <div class="w-2/4 h-50vh bg-center bg-cover opacity-50"
                    style="background-image: url({% static 'images/about2.jpg' %});">
                </div>
            </div>

            <div class="mt-8">
                <p class="leading-loose">
                    {% blocktrans %}いつも理想のシューズを探しているあなたのために「Uniwalk」が誕生しました。<br>
                    「Uniwalk」は、あなたの好きな色、好きなデザイン、好きなサイズで、あなたの為のシューズを作ります。<br>
                    ベースの靴を選び、好きな色でデザインして、足のサイズを測定します。<br>
                    後はあなたのもとにシューズが届くのを待つだけ！きっとお気に入りのシューズが手に入ります。{% endblocktrans %}
                </p>
            </div>
        </section>

        <section class="w-full text-center mb-10">
            <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans 'アクセス' %}</h2>
            <div class="mt-10">
                <iframe class="w-full h-50vh"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.5370563925044!2d136.88358901509665!3d35.16816468031703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376de618547db%3A0x76435e49b7e59323!2zSEFM5ZCN5Y-k5bGL!5e0!3m2!1sja!2sjp!4v1566632342743!5m2!1sja!2sjp"
                    frameborder="0" allowfullscreen=""></iframe>
            </div>

            <div class="mt-8">
                <p class="leading-loose">
                    {% blocktrans %}住所 〒450-0002 愛知県名古屋市中村区名駅４丁目２７−１ 総合校舎スパイラルタワーズ<br>
                    営業時間 平日：13：00～20：00　土日祝：10：00～18：00<br>
                    定休日 月曜日定休{% endblocktrans %}
                </p>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block javascript %}

{% endblock %}