{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}
{% trans 'ホーム' %}
{% endblock page_title %}

{% block content %}
<section class="bg-center object-cover relative rounded-t-xl bg-home-gray">
    <div class="w-full h-48 rounded-t-xl bg-home-blue">
        <p class="text-6xl text-center pt-24 text-white wow fadeIn" style="text-shadow: 5px 5px rgba(51, 51, 51, 0.2);">
            {% trans 'オリジナルスニーカーが作れる！' %}</p>
    </div>
    <img src="{% static 'images/home-main.png' %}" class="block relative">
    <div class="flex justify-center items-center w-64 h-64 mx-auto -mt-8 rounded-full border-home-blue p-10 absolute"
        style="background-color: #26232c; border-width: 16px; left: 50%; bottom: -15%; transform: translateX(-8rem);">
        <img src="{% static 'images/logo_white.png' %}" class="wow bounce">
    </div>
</section>

<section class="w-full pt-56 pb-10 bg-home-gray">
    <div class="w-3/4 mx-auto flex justify-around items-start">
        <img src="{% static 'images/home-design.jpg' %}" class="w-2/5 wow fadeIn" data-wow-delay="0.3s">
        <div class="w-2/5 flex-col wow fadeIn" data-wow-delay="0.5s">
            <h3 class="text-2xl text-white pb-3 border-b-2 h-16" style="text-shadow: 5px 5px rgba(0, 0, 0, 0.1);">
                {% trans 'デザインをカスタマイズする' %}</h3>
            <p class="text-white flex-col mt-10 text-lg font-light">
                {% trans '素材・色を変更し両足ともに自分の個性を表現できます。他のユーザが作ったデザインを参照することもできます！' %}</p>
            <div class="flex flex mt-8 mx-auto w-full text-center px-3 pt-3 pb-5 rounded-xl wow fadeIn"
                data-wow-delay="0.7s" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans '色' %}</p>
                    <i class="fas fa-palette fa-3x text-gray-400"></i>
                </div>
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans '素材' %}</p>
                    <i class="fab fa-firstdraft fa-3x text-gray-400 mx-auto"></i>
                </div>
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans 'デザイン' %}</p>
                    <i class="fas fa-trophy fa-3x text-gray-400"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w-full py-10 bg-home-gray">
    <div class="w-3/4 mx-auto flex justify-around items-start">
        <div class="w-2/5 flex-col wow fadeIn" data-wow-delay="0.5s">
            <h3 class="text-2xl text-white pb-3 border-b-2 h-16" style="text-shadow: 5px 5px rgba(0, 0, 0, 0.1);">
                {% trans '足サイズを測定する' %}</h3>
            <p class="text-white flex-col mt-10 text-lg">{% trans '足の写真をアップロードし、両足ずつ足長・足幅のサイズを測定することができます。' %}</p>
            <div class="flex mt-8 mx-auto w-full text-center px-3 pt-3 pb-5 rounded-xl wow fadeIn" data-wow-delay="0.7s"
                style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans '足幅' %}</p>
                    <i class="fas fa-ruler-horizontal fa-3x text-gray-400"></i>
                </div>
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans '足長' %}</p>
                    <i class="fas fa-ruler-vertical fa-3x text-gray-400"></i>
                </div>
            </div>
        </div>
        <img src="{% static 'images/home-measure.jpg' %}" class="w-2/5 wow fadeIn" data-wow-delay="0.3s">
    </div>
</section>

<section class="w-full pt-10 pb-20 bg-home-gray">
    <div class="w-3/4 mx-auto flex justify-around items-start">
        <img src="{% static 'images/home-customization.jpg' %}" class="w-2/5 wow fadeIn" data-wow-delay="0.3s">
        <div class="w-2/5 flex-col wow fadeIn" data-wow-delay="0.5s">
            <h3 class="text-2xl text-white pb-3 border-b-2 h-16" style="text-shadow: 5px 5px rgba(0, 0, 0, 0.1);">
                {% trans '依頼どおりスニーカーを制作する' %}</h3>
            <p class="text-white flex-col mt-10 text-lg">{% trans 'デザインと足サイズをもとにあなたのためのスニーカーを制作します！' %}</p>
            <div class="flex flex mt-8 mx-auto w-full text-center px-3 pt-3 pb-5 rounded-xl wow fadeIn"
                data-wow-delay="0.7s" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans 'カスタム制作' %}</p>
                    <i class="fas fa-money-check fa-3x text-gray-400"></i>
                </div>
                <div class="mx-auto">
                    <p class="text-gray-400 mb-5">{% trans '配送' %}</p>
                    <i class="fas fa-truck fa-3x text-gray-400"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w-full py-16 text-center rounded-b-xl" style="background-color: #26232c;">
    <div class="w-2/3 mx-auto mb-20">
        <p class="text-4xl text-gray-300 pb-3 h-16 mb-10" style="text-shadow: 5px 5px rgba(0, 0, 0, 0.1);">
            {% trans '商品リスト' %}
        </p>
        <div class="w-full flex flex-no-wrap justify-around wow fadeIn" data-wow-delay="0.3s">
            {% for product in products %}
            <div class="w-1/4 shadow-lg">
                <div class="h-64 bg-cover bg-center border-2 rounded-t"
                    style="background-image: url('{{ product.first_image }}');"></div>
                <div class="text-white text-lg p-5 bg-home-gray rounded-b">
                    {{ product.name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mx-auto">
        <a href="{% url 'products:list' %}" class="btn-home block w-3/4 mx-auto">{% trans 'もっと見る' %}</a>
    </div>
</section>

{% endblock content %}

{% block javascript %}

{% endblock %}