{% load static i18n %}
{% autoescape off %}
<table style="width: 70%; background-color: white; border: 1px solid lightgray; border-radius: 5px;">
    <tbody>
        <tr>
            <td style="text-align: center; padding: 5px; background-color: #2d3748;">
                <img src="http://127.0.0.1:8000{% static 'images/logo-nav.png' %}" alt="logo" style="height: 40px;">
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h2 style="padding-left: 10px; font-weight: bold; font-size: 1rem;">{% trans 'パスワード再設定用リンクの配布' %}</span>
            </td>
        </tr>
        <tr style="height: 10rem;">
            <td>
                <p style="padding-left: 10px; font-size: 1rem;">
                    {% blocktrans %}
                    お客様からの要請により、パスワード再設定のメールをご送信いたしました。<br>
                    {% endblocktrans %}
                    {% trans "下記のリンクへアクセスし、パスワード再設定を行ってください。<br>" %}
                </p>
                {% block reset_link %}
                <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"
                    style="padding-left: 10px; font-size: 1rem;">パスワード再設定へ移動する</a>
                {% endblock %}
                <p style="padding-left: 10px; font-size: 1rem;">
                    {% trans '<br>お客様のIDは次のどおりです：' %} <b>{{ user.get_username }}</b><br>
                    {% trans "いつものご利用ありがとうございます！" %}
                </p>
            </td>
        </tr>
        <tr style="height: 2rem;">
            <td style="text-align: center;">
                &copy; Team Uniwalk 2020
            </td>
        </tr>
    </tbody>
</table>
{% endautoescape %}