{% load static %}
<table style="width: 538px;">
    <tbody>
        <tr>
            <td>
                <img src="http://127.0.0.1:8000{% static 'images/logo-nav.png' %}" alt="logo"
                    style="height: 40px; border-bottom: 1px;">
            </td>
        </tr>
        <tr>
            <td>
                <span style="color: #434193; font-size: 20px; font-weight: bold;">会員登録修正完了</span>
            </td>
        </tr>
        <tr>
            <td>
                UniWalkサイトをご利用いただきまして誠にありがとうございます。
            </td>
        </tr>
        <tr>
            <td>
                会員登録情報修正を確かに承りました。<br>
                登録情報を修正しなかった場合、連絡してください。
            </td>
        </tr>
    </tbody>
</table>
<span>
    <br>

</span>