{% load i18n %}
<div class="w-50vh h-25vh mx-auto rounded-lg mb-10 overflow-hidden bg-gray-600 shadow-dark">
    <form method="POST" class="w-full h-full">
        {% csrf_token %}
        <div class="h-2/3 flex items-center justify-center relative" style="background-color: {% if card.brand == 'Visa' %} #f3f3f3 {% elif card.brand == 'MasterCard' %} #243545 {% elif card.brand == 'American Express' %} #016FD0 {% endif %};
                color: {% if card.brand == 'Visa' %} #243545 {% elif card.brand == 'MasterCard' %} #F79F14 {% elif card.brand == 'American Express' %} #f3f3f3 {% endif %};
                ">
            <div class="font-semibold text-3xl mr-3">****</div>
            <div class="font-semibold text-3xl mr-3">****</div>
            <div class="font-semibold text-3xl mr-3">****</div>
            <div class="font-semibold text-3xl">{{ card.last4 }}</div>
            <div class="absolute w-full top-0 text-right mt-4">
                <input type="hidden" name="target-customer" value="{{ card.customer }}">
                <input type="hidden" name="target-card" value="{{ card.id }}">
                <input type="hidden" name="target-fingerprint" value="{{ card.fingerprint }}">
                <button class="w-20 rounded-lg bg-red-500 mx-3 px-3 py-2 text-sm text-white">{% trans '登録解除' %}</button>
            </div>
        </div>
        <div class="h-full flex justify-end px-5 py-3" style="background-color: {% if card.brand == 'Visa' %} #243545 {% elif card.brand == 'MasterCard' %} #F79F14 {% elif card.brand == 'American Express' %} #f3f3f3 {% endif %};
                    color: {% if card.brand == 'Visa' %} #f3f3f3 {% elif card.brand == 'MasterCard' %} #243545 {% elif card.brand == 'American Express' %} #016FD0 {% endif %};
                ">
            <div class="flex">
                <div class="flex flex-col items-center">
                    <span class="text-sm">{% trans '有効期限(月/年)' %}</span>
                    <span class="font-semibold text-xl">{{ card.exp_month }} / {{ card.exp_year }}</span>
                </div>
                <div class="ml-5">
                    {% if card.brand == "Visa" %}
                    <i class="fab fa-cc-visa fa-3x"></i>
                    {% elif card.brand == "MasterCard" %}
                    <i class="fab fa-cc-mastercard fa-3x"></i>
                    {% elif card.brand == "American Express" %}
                    <i class="fab fa-cc-amex fa-3x"></i>
                    {% elif card.brand == "JCB" %}
                    <i class="fab fa-cc-jcb fa-3x"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>