{% load static i18n humanize %}
<div class="w-full mb-10 overflow-hidden shadow-md">
    <form method="POST" class="w-full h-full">
        {% csrf_token %}
        <div class="w-full flex items-center justify-between bg-gray-600 h-12 text-white px-5">
            <h3 class="font-semibold text-lg">注文番号: {{ order.order_code }}</h3>
            <span class="">注文日時: {{ order.order_date|date:'Y-m-d H:i:s' }}</span>
        </div>
        <div class="flex flex-no-wrap py-10 px-5">
            <div class="w-3/4 flex flex-col justify-around">
                <div>合計金額: &yen; {{ order.amount | intcomma }}</div>
                <div>注文者: {{ order.last_name_orderer }} {{ order.first_name_orderer }}</div>
                <div>お届け先: {{ order.get_prefecture_recipient_display }} {{ order.address_city_recipient }}
                    {{ order.address_detail_recipient }}</div>
                <div>総数量: {{ order.count_items_all }}</div>
                <div>お支払い方法: {{ order.get_payment_display }}</div>
                <div>処理状況: {{ order.step }}</div>
            </div>
        </div>
        {% for order_item in order.order_items.all %}
        <div class="flex flex-no-wrap py-10 px-5">
            <div style="background-image: url('{{ order_item.front.url }}');"
                class="w-1/4 h-40 bg-cover bg-center mr-3">
            </div>
            <div class="w-3/4 flex flex-col justify-around">
                <div>商品名: {{ order_item.product }}</div>
                <div>単価: &yen; {{ order_item.price | intcomma }}</div>
                <div>数量: {{ order_item.quantity }}</div>
            </div>
        </div>
        {% endfor %}

        <div class="w-full flex justify-around mb-5">
            {% if order.step.step_code == "T01" or order.step.step_code == "T02" %}
            <input type="hidden" name="target-order" value="{{ order.pk }}">
            <button class="btn bg-red-500 text-white w-1/3 p-3">{% trans '注文取消' %}</button>
            {% endif %}
            {% if order.step.step_code == "T01" %}
            <a href="{% url 'orders:bill' order.order_code %}"
                class="btn bg-red-500 text-white w-1/3 p-3">{% trans '請求書発行' %}</a>
            {% endif %}
            {% if order.step.step_code != "T01" and order.step.step_code != "T02" and order.step.step_code != "T99" %}
            <a href="{% url 'orders:receipt' order.order_code %}"
                class="btn bg-red-500 text-white w-1/3 p-3">{% trans '領収書発行' %}</a>
            {% endif %}
        </div>
    </form>
</div>