{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <title>{% block page_title %}{% endblock page_title %}| UniWalk</title>
</head>

<body class="text-gray-800 mt-24 font-light">
  {% include "partials/messages.html" %}

  <header
    class="max-w-full flex items-center justify-between h-28 border-b-2 border-gray-400 fixed bg-white inset-0 z-50">
    {% include "partials/nav.html" %}
  </header>

  <article class="min-h-75vh pt-4">
    {% block content %}

    {% endblock %}
  </article>

  {% include "partials/footer.html" %}

  {% block javascript %}

  {% endblock %}

  <script src="https://kit.fontawesome.com/d7ead653ba.js" crossorigin="anonymous"></script>

  <script>
    const userBtn = document.querySelector(".user-btn");
    if (userBtn) {
      const userDropdown = document.querySelector(".dropdown-content");
      userBtn.addEventListener("click", () => {
        userDropdown.style.display =
          userDropdown.style.display == "none" ? "block" : "none";
      });
    }
  </script>
  <script>
    const langSelect = document.getElementById("js-lang");
    const handleLangChange = () => {
      const selected = langSelect.value;
      fetch(`{% url 'users:switch-language' %}?lang=${selected}`).then(() => window.location.reload());
    }
    langSelect.addEventListener("change", handleLangChange);
  </script>
</body>

</html>