{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/twemoji-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <title>{% block page_title %}{% endblock page_title %}| UniWalk</title>
</head>

<body class="bg-gray-100 text-gray-800 mt-24 font-light">
  {% include "partials/messages.html" %}

  <header
    class="max-w-full flex items-center justify-between h-28 border-b-2 border-gray-400 fixed bg-white inset-0 z-50">
    {% include "partials/nav.html" %}
  </header>

  <article class="min-h-75vh pt-4">
    {% block content %}

    {% endblock %}
  </article>

  {% include "partials/footer.html" %}

  {% block javascript %}

  {% endblock %}

  <script src="https://kit.fontawesome.com/d7ead653ba.js" crossorigin="anonymous"></script>

  <script>
    const userBtn = document.querySelector(".user-btn");
    if (userBtn) {
      const userDropdown = document.querySelector(".dropdown-content");
      userBtn.addEventListener("click", () => {
        userDropdown.classList.toggle("hidden");
      });
    }
    const langBtn = document.querySelector(".lang-btn");
    const langDropdown = document.querySelector(".lang-dropdown");
    langBtn.addEventListener("click", () => {
      langDropdown.classList.toggle("hidden");
    });
  </script>

  <script>
    const ja = document.querySelector(".ja");
    const ko = document.querySelector(".ko");
    const id = document.querySelector(".id");
    const en = document.querySelector(".en");
    const zh_hans = document.querySelector(".zh-hans");
    const pt_br = document.querySelector(".pt-br");
    const handleLangChange = (e) => {
      const selected = e.target.hreflang;
      fetch(`{% url 'users:switch-language' %}?lang=${selected}`).then(() => window.location.reload());
    }
    ja.addEventListener("click", handleLangChange);
    ko.addEventListener("click", handleLangChange);
    id.addEventListener("click", handleLangChange);
    en.addEventListener("click", handleLangChange);
    zh_hans.addEventListener("click", handleLangChange);
    pt_br.addEventListener("click", handleLangChange);
  </script>

</body>

</html>