{% extends "base.html" %}
{% load i18n static humanize %}

{% block page_title %}
{% trans 'カート' %}
{% endblock page_title %}

{% block content %}

<div class="flex min-h-75vh rounded-xl py-16"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container bg-white w-4/5 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 relative">
        <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute" style="top: -3rem;">
            <i class="fas fa-shopping-bag fa-3x text-white wow fadeIn"></i>
        </div>
        <div class="w-full flex items-start justify-between">
            <div class="w-2/3 bg-white mr-16">
                <h3 class="w-full font-black text-2xl text-left p-5 text-indigo-800">
                    {% trans 'ショッピングカート' %}
                </h3>
                <div class="flex flex-col">
                    {% if cart_items %}
                    {% for cart_item in cart_items %}
                    <div class="w-full flex flex-no-wrap shadow-md rounded-lg m-5 p-5 h-auto wow fadeIn">
                        {% with cart_item.design.images.all|first as image %}
                        <div class="w-1/3 h-auto bg-center bg-cover"
                            style="background-image: url('{{ image.front.url }}');">
                        </div>
                        {% endwith %}
                        <div class="w-full flex px-5 items-center">
                            <div class="w-full flex flex-col justify-between h-full">
                                <div class="flex justify-between items-center">
                                    <span class="text-lg">{{ cart_item.product.name }}</span>
                                    <div class="text-indigo-600">
                                        &yen; {{ cart_item.sub_total | intcomma }}
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <span class="text-gray-500 text-xs">{{ cart_item.product.category }}</span>
                                    <span class="text-gray-500 text-xs">{% trans '左足' %}
                                        {{ cart_item.length_left }}mm {% trans '(足長)' %}
                                        {{ cart_item.width_left }}mm {% trans '(足幅)' %}</span>
                                    <span class="text-gray-500 text-xs">{% trans '右足' %}
                                        {{ cart_item.length_right }}mm {% trans '(足長)' %}
                                        {{ cart_item.width_right }}mm {% trans '(足幅)' %}</span>
                                </div>
                                <div class="flex justify-between items-center mt-3">
                                    <span class="text-sm">{% trans '単価' %}　&yen;
                                        {{ cart_item.product.price | intcomma }}</span>
                                    <div class="text-xs ml-5">
                                        <a href="{% url 'carts:add_cart' cart_item.product.pk cart_item.design.pk %}">
                                            <i class="fas fa-plus-circle fa-lg text-indigo-600"></i>
                                        </a>
                                        <span class="mx-2 text-sm">{{ cart_item.quantity }}</span>
                                        <a href="{% url 'carts:remove' cart_item.product.pk cart_item.design.pk %}">
                                            <i class="fas fa-minus-circle fa-lg text-indigo-600"></i>
                                        </a>
                                    </div>
                                    <div class="text-sm">
                                        <a href="{% url 'carts:delete' cart_item.product.pk cart_item.design.pk %}"
                                            class="bg-red-500 py-1 px-5 rounded">
                                            <span><i class="fas fa-trash-alt text-white"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p
                        class="flex justify-center items-center font-semibold w-full h-50vh text-center text-2xl wow fadeIn">
                        <i class="fas fa-dizzy fa-2x text-indigo-600"></i> <span
                            class="ml-5">{% trans 'カートに商品が入っていません。' %}</span>
                    </p>
                    {% endif %}
                </div>
            </div>
            <div
                class="w-1/3 flex flex-col shadow-lg items-center justify-between bg-gray-900 shadow-lg relative mt-5 rounded-xl wow fadeIn">
                <h3 class="text-white font-semibold w-full p-3 mt-3 text-2xl text-center">
                    {% trans 'ご注文金額' %}
                </h3>
                <div class="w-full p-5 text-white">
                    <div class="flex flex-no-wrap justify-between">
                        <div>{% trans '合計（税込）' %}</div>
                        <div class="font-semibold">&yen; {{ amount | intcomma }}</div>
                    </div>
                    {% if cart_items %}
                    <a href=" {% url 'orders:member_or_guest' %}" class="btn block mt-10">{% trans '購入手続きへ' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}