{% extends "base.html" %}
{% load i18n static humanize %}

{% block page_title %}
{% trans 'レビューリスト' %}
{% endblock page_title %}

{% block content %}

<div class="mx-auto pt-16 pb-10">

    <div class="container mx-auto flex">
        <div class="w-2/3 flex flex-wrap mb-10 pr-10">
            <h3 class="w-full font-bold text-2xl mb-3 text-center">
                ショッピングカート
            </h3>
            {% if cart_items %}
            {% for cart_item in cart_items %}
            <div class="w-full flex flex-no-wrap border-b p-3">
                <div class="h-32">
                    <img src="{{ cart_item.product.first_image }}" class="h-full">
                </div>
                <div class="w-full flex justify-between px-5 items-center">
                    <div class="flex flex-col justify-between h-full">
                        <div class="flex flex-col">
                            <span class="text-xl">{{ cart_item.product.name }}</span>
                            <span class="text-gray-500">{{ cart_item.product.category }}</span>
                        </div>
                        <div class="flex flex-col">
                            <span>単価 {{ cart_item.product.price }}</span>
                            <span>{{ cart_item.quantity}} x {{ cart_item.product.price }}</span>
                        </div>
                    </div>
                    <div>
                        {{cart_item.sub_total}}
                    </div>
                    <div>
                        <a href="{% url 'carts:add_cart' cart_item.product.pk %}">
                            <i class="far fa-plus-square"></i>
                        </a>
                        <span class="mx-3">{{ cart_item.quantity}}</span>
                        <a href="{% url 'carts:remove' cart_item.product.pk %}">
                            <i class="far fa-minus-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'carts:delete' cart_item.product.pk %}">
                            <span>削除</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="flex justify-center items-center font-semibold w-full h-50vh text-center text-2xl">
                <i class="fas fa-dizzy fa-2x text-teal-500"></i> <span class="ml-5">カートに商品が入っていません。</span>
            </p>
            {% endif %}
        </div>

        <div class="w-1/3 flex flex-col h-25vh p-5 shadow-lg justify-between">
            <h3 class="font-bold text-2xl text-center">
                ご注文金額
            </h3>
            <div class="w-full">
                <div class="flex flex-no-wrap justify-between">
                    <div class="font-semibold">合計（税込）</div>
                    <div>{{ amount }}</div>
                </div>
                {% if cart_items %}
                <a href="{% url 'orders:check-authenticated' %}" class="btn-link block mt-10">購入手続きへ</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}