{% extends "base.html" %}
{% load i18n static humanize %}

{% block page_title %}
{% trans 'ご購入の手続き' %}
{% endblock page_title %}

{% block content %}

<div class="mx-auto pt-16 pb-10">

    <h3 class="w-full font-bold text-3xl mb-3 text-center">
        ご購入の手続き
    </h3>
    <div class="container mx-auto flex">
        <div class="w-2/3 flex flex-wrap mb-10 pr-10">
            <form method="POST" class="w-3/4 mx-auto">
                <h3 class="w-full font-semibold text-2xl mb-5">1. お届け先情報</h3>
                <div id="orderer">
                    {% csrf_token %}
                    <div class="flex mb-5">
                        <div class="mr-5">
                            {{ recipient_form.last_name_recipient }}
                        </div>
                        <div>
                            {{ recipient_form.first_name_recipient }}
                        </div>
                    </div>
                    <div class="flex mb-5">
                        <div class="mr-5">
                            {{ recipient_form.last_name_recipient_kana }}
                        </div>
                        <div>
                            {{ recipient_form.first_name_recipient_kana }}
                        </div>
                    </div>
                    <div class="mb-5">
                        {{ recipient_form.phone_number_recipient }}
                    </div>
                    <div class="mb-5">
                        {{ recipient_form.postal_code_recipient }}
                    </div>
                    <div class="mb-5">
                        {{ recipient_form.prefecture_recipient }}
                    </div>
                    <div class="mb-5">
                        {{ recipient_form.address_city_recipient }}
                    </div>
                    <div class="mb-5">
                        {{ recipient_form.address_detail_recipient }}
                    </div>
                    <button class="btn-link">支払いへ</button>
                </div>

                <h3 class="w-full font-semibold text-2xl mb-5">2. お支払い方法・ご請求先情報</h3>

                <h3 class="w-full font-semibold text-2xl mb-5">3. ご注文の確認</h3>

            </form>
        </div>

        <div class="w-1/3 flex flex-col h-full p-5 shadow-lg justify-between">
            {% include "mixins/orders/order-summary-card.html" %}
        </div>
    </div>
</div>

<script>

</script>
{% endblock content %}