{% extends "base.html" %}
{% load i18n static %}

{% block page_title %}
{% trans "注文完了" %}
{% endblock page_title %}

{% block content %}
<div class="flex items-center min-h-75vh rounded-xl py-16"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container bg-white w-1/3 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 relative">
        <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute" style="top: -3rem;">
            <i class="fas fa-check fa-3x text-white"></i>
        </div>

        <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans "注文完了" %}</h2>
        <h3 class="font-medium text-xl mb-5">{% trans "ご注文が完了いたしました。" %}</h3>
        <p class="text-center mb-5">
            {% trans "注文番号" %}<br>
            <span class="text-indigo-800 text-2xl font-bold">{{ order_code }}</span><br>
        </p>
        <p class="text-center mb-5">
            {% trans "またのご注文をお待ちしております。" %}<br>
            {% trans "今後ともご愛顧賜りますようよろしくお願い申し上げます。" %}<br>
        </p>
        <a href="{% url 'core:home' %}" class="btn mt-5" mt-5>
            {% trans "ホームへ" %}
        </a>

    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock %}