{% extends "base.html" %}
{% load i18n static %}

{% block page_title %}
{% trans '注文履歴' %}
{% endblock page_title%}

{% block content %}
<div class="min-h-75vh mx-auto px-10 py-10 rounded-xl"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container mx-auto">
        <div class="w-full shadow-lg">
            {% include 'partials/mypage-menu.html' %}
        </div>

        <div class="w-full flex flex-col mb-10">
            <div
                class="container bg-white w-2/3 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 mt-24 relative">
                <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute"
                    style="top: -3rem;">
                    <i class="fas fa-truck fa-3x text-white wow fadeIn"></i>
                </div>
                <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans '注文履歴' %}</h2>

                {% if orders %}
                {% for order in orders %}
                {% include 'mixins/orders/order-card.html' with order=order %}
                {% endfor %}

                <div class="flex items-center justify-center mx-auto container mb-10">
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="text-purple-500">
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </a>
                    {% endif %}

                    <span class="mx-3 font-medium text-lg">
                        {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}
                        {{ current_page }} ページ{% endblocktrans %}
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="text-purple-500">
                        <i class="fas fa-arrow-right fa-lg"></i>
                    </a>
                    {% endif %}
                </div>

                {% else %}
                <p class="flex justify-center items-center font-semibold h-full w-full text-center text-2xl wow fadeIn">
                    <i class="fas fa-dizzy fa-2x text-purple-500"></i> <span
                        class="ml-5">{% trans '注文履歴が存在しません。' %}</span>
                </p>

                <div class="w-full flex items-center justify-center mt-5 wow fadeIn">
                    <p class="w-1/2 text-center">{% trans '新しいスニーカーはいかがですか？' %}</p>
                    <a href="{% url 'products:list' %}" class="btn w-1/3">{% trans '商品を見る' %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock %}