{% extends "base.html" %}
{% load i18n static %}

{% block page_title %}
{% trans '注文詳細' %}
{% endblock page_title%}

{% block content %}
<div class="mx-auto px-10 py-10 rounded-xl"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container mx-auto">
        <div class="w-full shadow-lg">
            {% include 'partials/mypage-menu.html' %}
        </div>

        <div class="w-full flex flex-col mb-10">
            <div
                class="container min-h-75vh bg-white w-2/3 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 mt-24 relative">
                <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute"
                    style="top: -3rem;">
                    <i class="fas fa-truck fa-3x text-white wow fadeIn"></i>
                </div>
                <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans '注文詳細' %}</h2>

                {% include 'mixins/orders/order-detail-card.html' with user=user %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock %}