{% extends "base.html" %}
{% load i18n static %}

{% block page_title %}
{% trans 'マイ足サイズ' %}
{% endblock page_title%}

{% block content %}
<div class="mx-auto px-10 py-10 rounded-xl"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container mx-auto">
        <div class="w-full shadow-lg">
            {% include 'partials/mypage-menu.html' %}
        </div>

        <div class="w-full flex flex-col mb-10">
            <div
                class="container min-h-75vh bg-white w-2/3 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 mt-24 relative">
                <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute"
                    style="top: -3rem;">
                    <i class="fas fa-shoe-prints fa-3x text-white"></i>
                </div>
                <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans 'マイ足サイズ' %}</h2>

                {% if feet %}
                <div class="flex flex-no-wrap items-center justify-around mb-10">
                    <div class="border w-1/3 h-full flex flex-col justify-center">
                        <h3 class="font-semibold text-2xl text-center py-5">{% trans '左' %}</h3>
                        <div class="text-center mb-5">
                            <span class="font-medium mr-10">{% trans '足長' %}</span>
                            <span class="font-bold text-2xl">{{ feet.length_left }}</span>
                        </div>
                        <div class="text-center mb-5">
                            <span class="font-medium mr-10">{% trans '足幅' %}</span>
                            <span class="font-bold text-2xl">{{ feet.width_left }}</span>
                        </div>
                    </div>
                    <div class="border w-1/3 h-full flex flex-col justify-center">
                        <h3 class="font-semibold text-2xl text-center py-5">{% trans '右' %}</h3>
                        <div class="text-center mb-5">
                            <span class="font-medium mr-10">{% trans '足長' %}</span>
                            <span class="font-bold text-2xl">{{ feet.length_right }}</span>
                        </div>
                        <div class="text-center mb-5">
                            <span class="font-medium mr-10">{% trans '足幅' %}</span>
                            <span class="font-bold text-2xl">{{ feet.width_right }}</span>
                        </div>
                    </div>
                </div>
                {% else %}
                <p class="flex justify-center items-center font-semibold h-full w-full text-center text-2xl">
                    <i class="fas fa-dizzy fa-2x text-teal-500"></i> <span
                        class="ml-5">{% trans 'まだ足サイズの測定データがありません。' %}</span>
                </p>

                {% endif %}
                <a href="" class="btn w-2/3 mx-auto">{% trans '測定する' %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock %}