{% extends "base.html" %}
{% load i18n static humanize %}

{% block page_title %}
{% trans '足サイズ測定' %}
{% endblock page_title %}

{% block content %}
<style>
    .tabs {
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    .tabs>li {
        transition-duration: .25s;
        display: table-cell;
        list-style: none;
        text-align: center;
        padding: 20px 20px 25px 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: white;
    }

    .tabs>li:before {
        z-index: -1;
        position: absolute;
        content: "";
        width: 100%;
        height: 120%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .3);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition-duration: .25s;
        border-radius: 5px 5px 0 0;
    }

    .tabs>li:hover:before {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
    }

    .tabs>li.active {
        color: rgb(80, 85, 90);
    }

    .tabs>li.active:before {
        transition-duration: .5s;
        background-color: white;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .tab__content {
        background-color: white;
        position: relative;
        width: 100%;
        border-radius: 5px;
    }

    .tab__content>li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        list-style: none;
    }

    .tab__content>li .content__wrapper {
        text-align: center;
        border-radius: 5px;
        width: 100%;
        padding: 45px 40px 40px 40px;
        background-color: white;
    }

    .content__wrapper img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .content__wrapper h2 {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 300;
    }
</style>

<div id="manual" class="hidden flex items-center justify-center"
    style="position: fixed; top:0; left: 0; width: 100vw; height: 100vh; background: rgba(10, 10, 10, 0.9); z-index: 1000;">
    <div class="flex flex-col w-2/3 h-75vh bg-white mx-auto">
        <div class="flex justify-between m-5">
            <h2 class="font-bold text-2xl">{% trans '足の測り方' %}</h2>
            <a id="closeManual" class="cursor-pointer text-gray-600"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="flex justify-around">
            <div class="w-1/3 h-full flex flex-col justify-around">
                <div class="bg-cover mx-auto"
                    style="width: 300px; height: 300px; background-image: url('{% static 'images/height.png' %}');">
                </div>
                <h3 class="w-full text-center font-semibold text-lg mt-10">{% trans '足長' %}</h3>
                <p class="mt-10">
                    {% trans 'メジャーを用い、足のカカトから一番出ている足の指までの長さを垂直で測ります。' %}
                </p>
            </div>
            <div class="w-1/3 h-full flex flex-col justify-around">
                <div class="bg-cover mx-auto"
                    style="width: 300px; height: 300px; background-image: url('{% static 'images/width.png' %}');">
                </div>
                <h3 class="w-full text-center font-semibold text-lg mt-10">{% trans '足幅' %}</h3>
                <p class="mt-10">
                    {% trans '親指の関節の１番出ている部分から小指の関節の１番出ている部分までの長さをメーじゃで測ります。' %}
                </p>
            </div>
        </div>
    </div>
</div>
<div id="auto" class="hidden flex items-center justify-center"
    style="position: fixed; top:0; left: 0; width: 100vw; height: 100vh; background: rgba(10, 10, 10, 0.9); z-index: 1000;">
    <div class="flex flex-col w-2/3 h-75vh bg-white mx-auto">
        <div class="flex justify-between m-5">
            <h2 class="font-bold text-2xl">{% trans '足イメージの撮り方' %}</h2>
            <a id="closeAuto" class="cursor-pointer text-gray-600"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="flex justify-around overflow-x-auto">
            <div class="w-full h-full flex flex-col justify-around">
                <div class="bg-cover mx-auto"
                    style="width: 300px; height: 345px; background-image: url('{% static 'images/correcta4.png' %}');">
                </div>

            </div>
            <div class="w-full h-full flex flex-col justify-around px-5">
                <div class="bg-cover mx-auto"
                    style="width: 300px; height: 389px; background-image: url('{% static 'images/setpaper.png' %}');">
                </div>

            </div>
            <div class="w-full h-full flex flex-col justify-around">
                <div class="bg-cover mx-auto"
                    style="width: 300px; height: 221px; background-image: url('{% static 'images/footona4.png' %}');">
                </div>

            </div>
        </div>
        <div class="w-full flex justify-around px-10 mt-10">
            <p class="w-full mr-5">
                {% trans 'きれいなA4サイズの黒紙を用意してください。破れた紙、印刷されている紙、しわくちゃな紙の場合は測定できないため注意してください。' %}
            </p>
            <p class="w-full mr-5">
                {% trans '写真を撮るときには写真に影響を及ぼすものがないようにきれいな床で撮ってください。' %}
            </p>
            <p class="w-full">
                {% trans 'カカトを紙の端に置き、人差し指が紙の垂直中央線に位置するようにしてください。' %}
            </p>
        </div>
    </div>
</div>
<div class="mx-auto p-28 bg-universe-dark min-h-75vh">
    <ul class="tabs">
        <li class="active font-semibold">{% trans '足サイズ測定' %}</li>
        <li class="font-semibold">{% trans '足サイズ記入' %}</li>
    </ul>

    <ul class="tab__content">
        <li class="active">
            <div class="content__wrapper">
                <h2 class="">{% trans '測定するイメージファイルをアップロードしてください。' %}</h2>
                <a id="infoAuto" class="cursor-pointer"><i class="fas fa-question-circle"></i> 足サイズ測定方法</a>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="flex justify-around">
                        <div>
                            <h3>{% trans '左' %}</h3>
                            <div class="flex items-center">
                                <span>{% trans '足長' %}</span>
                                {{ footsize_image_form.foot_left }}
                            </div>
                        </div>
                        <div>
                            <h3>{% trans '右' %}</h3>
                            <div class="flex items-center">
                                <span>{% trans '足長' %}</span>
                                {{ footsize_image_form.foot_right }}
                            </div>
                        </div>
                    </div>
                    <button name="footsize-image">{% trans '測定する' %}</button>
                </form>
            </div>
        </li>
        <li>
            <div class="content__wrapper">
                <h2 class="">{% trans '足サイズを記入してください。' %}</h2>
                <a id="infoManual" class="cursor-pointer"><i class="fas fa-question-circle"></i> 足サイズ測定方法</a>
                <form method="POST">
                    {% csrf_token %}
                    <div class="flex justify-around">
                        <div>
                            <h3>{% trans '左' %}</h3>
                            <div class="flex items-center">
                                <span>{% trans '足長' %}</span>
                                {{ footsize_fill_form.length_left }}
                                <span>mm</span>
                            </div>
                            <div class="flex items-center">
                                <span>{% trans '足幅' %}</span>
                                {{ footsize_fill_form.width_left }}
                                <span>mm</span>
                            </div>
                        </div>
                        <div>
                            <h3>{% trans '右' %}</h3>
                            <div class="flex items-center">
                                <span>{% trans '足長' %}</span>
                                {{ footsize_fill_form.length_right }}
                                <span>mm</span>
                            </div>
                            <div class="flex items-center">
                                <span>{% trans '足幅' %}</span>
                                {{ footsize_fill_form.width_right }}
                                <span>mm</span>
                            </div>
                        </div>
                    </div>
                    <button name="footsize-fill">{% trans '決定する' %}</button>
                </form>
            </div>
        </li>
    </ul>
</div>
<script>
    // 足サイズ方法のタブ設定
    $(document).ready(function () {
        var clickedTab = $(".tabs > .active");
        var tabWrapper = $(".tab__content");
        var activeTab = tabWrapper.find(".active");
        var activeTabHeight = activeTab.outerHeight();

        activeTab.show();

        tabWrapper.height(activeTabHeight);

        $(".tabs > li").on("click", function () {
            $(".tabs > li").removeClass("active");
            $(this).addClass("active");
            clickedTab = $(".tabs .active");
            activeTab.fadeOut(250, function () {
                $(".tab__content > li").removeClass("active");
                var clickedTabIndex = clickedTab.index();
                $(".tab__content > li").eq(clickedTabIndex).addClass("active");
                activeTab = $(".tab__content > .active");
                activeTabHeight = activeTab.outerHeight();
                tabWrapper.stop().delay(50).animate({
                    height: activeTabHeight
                }, 500, function () {
                    activeTab.delay(50).fadeIn(250);
                });
            });
        });
    });
</script>
<script>
    const infoManual = document.getElementById("infoManual");
    const closeManual = document.getElementById("closeManual");
    const infoAuto = document.getElementById("infoAuto");
    const closeAuto = document.getElementById("closeAuto");
    infoManual.addEventListener("click", () => {
        document.getElementById("manual").style.display = "flex";
    });
    closeManual.addEventListener("click", () => {
        document.getElementById("manual").style.display = "none";
    });
    infoAuto.addEventListener("click", () => {
        document.getElementById("auto").style.display = "flex";
    });
    closeAuto.addEventListener("click", () => {
        document.getElementById("auto").style.display = "none";
    });
</script>
{% endblock content %}