{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
{% trans 'ログイン' %}
{% endblock page_title%}

{% block content %}
<div class="container w-1/2 h-full mx-auto my-10 flex flex-col items-center p-6">
  <div class="title my-5">
    {% trans 'ログイン' %}
  </div>

  {% trans "ログイン" as login %}
  {% include 'mixins/auth/form_auth.html' with form=form cta=login %}

  <div class="mt-5">
    <span class="mr-2">{% trans "パスワードを忘れましたか？" %}</span>
    <a href="{% url 'users:password-reset' %}" class="btn-link">{% trans 'パスワード再発行' %}</a>
  </div>

  <div class="mt-5">
    <span class="mr-2">{% trans 'アカウントを持っていないですか？' %}</span>
    <a href="{% url 'users:signup' %}" class="btn-link">
      {% trans '会員登録' %}
    </a>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock %}