{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
{% trans 'ログイン' %}
{% endblock page_title%}

{% block content %}
<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
  <div class="text-gray-800 font-semibold text-3xl my-3">
    {% trans 'ログイン' %}
  </div>

  {% trans "ログイン" as login %}
  {% include 'mixins/auth/form_auth.html' with form=form cta=login %}

  <div class="mt-5">
    <span class="mr-2">{% trans "パスワードを忘れましたか？" %}</span>
    <a href="{% url 'users:password-reset' %}" class="text-teal-500 font-medium">{% trans 'パスワード再発行' %}</a>
  </div>

  <div class="mt-5">
    <span class="mr-2">{% trans 'アカウントを持っていないですか？' %}</span>
    <a href="{% url 'users:signup' %}" class="text-teal-500">
      {% trans '会員登録' %}
    </a>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock %}