{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
{% trans "パスワード再設定申込み完了" %}
{% endblock page_title %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col items-center p-6">

    <h2 class="title mb-5">{% trans "パスワード再発行申込み完了" %}</h2>
    <h3 class="font-medium text-2xl mb-3">{% trans "ご登録のメールアドレス宛にパスワード再発行用メールを送信いたしました。" %}</h3>
    <p class="text-center mb-5">
        {% trans "メールの内容をご確認いただきますよう、お願いいたします。" %}<br>{% trans "※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。" %}</p>

</div>

{% endblock content %}

{% block javascript %}

{% endblock %}