{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
{% trans 'パスワード再設定' %}
{% endblock page_title%}

{% block content %}
<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center p-6">
    {% if validlink %}
    <div class="title my-3">
        {% trans 'パスワード再設定' %}
    </div>

    {% trans "設定する" as set %}
    {% include 'mixins/auth/form_auth.html' with form=form cta=set %}

    {% else %}

    <p>
        {% trans "パスワード再設定用リンクが無効です。新たにパスワード再設定を申し込んでください。" %}
    </p>

    {% endif %}

</div>
{% endblock content %}

{% block javascript %}
{% endblock %}