{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
{% trans 'パスワード再設定申込み' %}
{% endblock page_title%}

{% block content %}
<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center p-6">
    <div class="title my-3">
        {% trans 'パスワード再設定申込み' %}
    </div>

    {% trans "申し込む" as reset %}
    {% include 'mixins/auth/form_auth.html' with form=form cta=reset %}

    <div class="mt-5">
        <span class="mr-2">{% trans 'パスワードを覚えていますか？' %}</span>
        <a href="{% url 'users:login' %}" class="btn-link">
            {% trans 'ログイン' %}
        </a>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock %}