{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
{% trans "会員登録" %}
{% endblock page_title %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col items-center p-6">
  <div class="w-2/3">
    <div class="text-gray-800 font-semibold text-4xl my-3 text-center mb-10">
      {% trans '会員登録' %}
    </div>

    {% trans "会員登録" as registration %}
    {% include 'mixins/auth/form_auth.html' with form=form cta=registration %}

    <div class="mt-5">
      <span class="mr-2">{% trans "既にアカウントを持っていますか?" %}</span>
      <a href="{% url 'users:login' %}" class="text-teal-500 font-medium">
        {% trans "ログイン" %}
      </a>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock %}