{% extends "base.html" %}
{% load i18n static %}

{% block page_title %}
{% trans '会員脱退確認' %}
{% endblock page_title%}

{% block content %}
<div class="mx-auto min-h-75vh px-10 py-10 rounded-xl"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container mx-auto">
        <div class="w-full shadow-lg">
            {% include 'partials/mypage-menu.html' %}
        </div>

        <div class="w-full flex flex-col mb-10">
            <div
                class="container bg-white w-2/3 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 mt-24 relative">
                <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute"
                    style="top: -3rem;">
                    <i class="fas fa-exclamation fa-3x text-white wow fadeIn"></i>
                </div>
                <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans '会員脱退' %}</h2>
                <p class="text-center text-lg leading-loose">
                    {% trans '現在保存されている購入履歴やお届け先等の情報は、<span class="font-semibold text-red-500 wow fadeIn">すべて削除</span>されます。<br>よろしければ、下のボタンを押してください。' %}
                </p>
                <form method="POST" class="text-center" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="btn-danger w-64 mt-5">{% trans '脱退する' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock %}