{% extends "base.html" %}
{% load i18n static %}

{% block page_title %}
{% trans '会員脱退申込み' %}
{% endblock page_title%}

{% block content %}

<div class="mx-auto min-h-75vh px-10 py-10 rounded-xl"
    style="background-image: url({% static 'images/pattern.svg' %}); background-repeat: repeat;">
    <div class="container mx-auto">
        <div class="w-full shadow-lg">
            {% include 'partials/mypage-menu.html' %}
        </div>

        <div class="w-full flex flex-col mb-10">
            <div
                class="container bg-white w-2/3 rounded-xl h-full mx-auto my-10 flex flex-col items-center p-12 mt-24 relative">
                <div class="flex items-center justify-center bg-indigo-600 w-24 h-24 rounded-full absolute"
                    style="top: -3rem;">
                    <i class="fas fa-user-slash fa-3x text-white"></i>
                </div>
                <h2 class="text-indigo-800 mt-3 mb-5 text-3xl font-semibold">{% trans '会員脱退申し込み' %}</h2>
                <p class="text-lg text-center leading-loose">{% trans '会員脱退処理を行うために、もう一度会員認証を行ってください。' %}</p>
                <div class="w-1/2 mx-auto">
                    {% trans "認証する" as auth %}
                    {% include 'mixins/auth/form_auth.html' with form=form cta=auth %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock %}