<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="rounded-lg bg-white px-3 py-3 mb-5">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <span class="text-red-700 font-medium text-sm">{{ error }}</span>
        {% endfor %}
        {% endif %}

        {% for field in form %}
        {% include 'mixins/auth/form_input.html' with field=field %}
        {% endfor %}
    </div>

    <button class="btn" {% if btn_name %}name="{{ btn_name }}" {% endif %}>{{ cta }}</button>
</form>
<!-- btn bg-blue-500 text-white -->